[2015-12-02 22:02] Mikematute commented on #250
ok so, found on another problem a similar thing...
ran the command defaults delete be.michotte.hstracker and now its on the loading part....loading all the cards i am guessing
Will update on any further things

[2015-12-02 22:59] Mikematute commented on #250
Seems to work fine now...Will be working with it in case anything new happens. Thanks alot to whom attended me on Twitter fomr the develop team!!

[2015-12-03 02:41] ecbrodie opened #251 "Match not recorded after completed, even though I was alerted about save to Hearthstats"
**Reproduction steps:**
1. Link your HSTracker account to HearthStats. Have deck saved to HearthStats.
2. Play game with HSTracker tracking the deck
3. Finish the game. Observe a native Mac popup saying that the match was saved to the HearthStats server.

Expected Results: The match is recorded on both the local HSTracker app and online at HeathStats.

Actual Results: None of the above. The match

[2015-12-03 19:27] ripsaw opened #252 "Tracker registering win multiple times on HeartStats"
OSX v 013 (448)
Debug log:

[2015-12-03 20:21:38.689][engine][log]: "----- Game End -----"
[2015-12-03 20:21:38.691][analyzer][log]: "waiting for mode"
[2015-12-03 20:21:47.269][analyzer][log]: "3 / 3 -> 10 gold"
[2015-12-03 20:21:51.077][engine][log]: "You are rank 19"
[2015-12-03 20:21:51.078][engine][log]: "You are rank 20"
[2015-12-03 20:21:51.556][engine][log]: "Player in game mode casual"
[2

[2015-12-03 21:17] bmichotte commented on #252
You should share some with #251 :D

All joke aside, this is a strange issue, I'll try to check this tomorrow

[2015-12-03 21:51] ripsaw commented on #252
It have happened on two occations. Let me know if you need more debug logs
or something :-)
On Dec 3, 2015 22:17, "Benjamin Michotte" <notifications@github.com> wrote:

[2015-12-04 00:03] yndara commented on #252
I have actually seen both behaviors, double match entry and the missing match entry, although the missing match entry is much more common for me. Let me know if you're looking for more data or anything.

[2015-12-04 23:26] Jayisgames opened #253 "Add preference to hide card dialog when hovering cards in Deck Manager"
This is an annoyance while building decks for those who don't need the card info. Please and thank you. :)

[2015-12-06 10:23] Jatama commented on #250
Hey, can you give a bit more specific guide what to do. I have same problem. HStracker does nothing and gives same errors.

[2015-12-06 11:05] Jatama commented on #250
I have same problems here. I ran that 'defaults delete be.michotte.hstracker' command and HStracker started once. When i entered the game it crashed and same thing again. Doesn't work.

12-6-15 13:05:33,145 HSTracker[2466]: Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable
12-6-15 13:05:33,145 HSTracker[2466]: Failed to co

[2015-12-07 04:53] gc3 commented on #250
same here. i'm on El Capitan if that helps.

[2015-12-07 05:56] gc3 commented on #250
![screen shot 2015-12-06 at 9 55 34 pm](https://cloud.githubusercontent.com/assets/810812/11620100/22b7c5dc-9c64-11e5-8899-bc059d4925ae.png)

Now it gives me this dialog if I click the app to load it. If I start it from the terminal , it works fine, though.

[2015-12-07 16:36] Mikematute commented on #250
What i did was erase the app and run the command. maybe the same wil work for you? The app has been working perfectly fine by me. i am running captain

[2015-12-10 06:17] smirkus opened #254 "HSTracker no longer tracking wins or registering played cards/opponents cards"
I read through the other posts, but wasn't able to find a solution. As stated above, the first game I played the tracker showed cards played etc. After it wasn't able to upload stats to hearthstats, I moved the file from my downloads folder to my applications folder, closed hearthstone, opened the tracker, opened HS, and now have this problem. I've tried deleting the HSTracker and opening the zip

[2015-12-10 16:00] perepicornell commented on #246
Same here. OSX Mavericks.
Steps:
1) Try to open it, I see that is not responding, thought it got stuck so I force closed it.
2) 2nd try, now with the activity monitor open, took a very long time to start up and using a lot of CPU, after some minutes, is running but using 1,60GB of memory. Waited some time and nothing changed.
3) Without doing anything (not playing a game or changing any deck) I cl

[2015-12-10 21:50] DarkWahlburg commented on #247
Yeah I did that stuff already. Turns out I wasn't clicking the little
"play" icon in the deck manager. I don't recall seeing any mention of that.
If there is, I missed it...if not, you might wanna add that instructions

On Mon, Nov 30, 2015 at 5:55 PM, nt74 <notifications@github.com> wrote:

[2015-12-11 00:03] givemelove opened #255 "My Tracker and Opponent Tracker size not remembered"
When changing the Card Size (from Big to Medium or Small), the my tracker and Opponent tracker windows adjust automatically.

However, when restarting HSTracker (and every subsequent restart), the tracker sizes will default back to Big. If you resize the tracker size, it will readjust right away.

Need to check the saved variable of card size upon launch and before drawing the tracker windows.

[2015-12-11 23:03] johnalexwelch opened #256 "Can't change the language in preferences."
I accidentally selected spanish and when ever I change it in preferences it changes back

[2015-12-15 17:57] BuZhiDao7 opened #257 "Login Error"
I noticed since yesterday the tracker no longer tracks matches, so I tried to reconfigure Hearthstats but, but I keep getting "login error" dialog.

[2015-12-15 18:29] bmichotte commented on #257
Hearthstats seems to have issue on the API server. They just tweeted this should be ok again, could you give a try ?

[2015-12-15 20:17] BuZhiDao7 commented on #257
Oh yes, now I can log in. Thanks!

[2015-12-17 10:21] jpalermo opened #258 "Naming two decks with the same name causes it to select the wrong one"
If I have multiple classes with a deck named the same thing, for instance both a Warlock and a Paladin deck named "Reno". Selecting either deck from the "Deck" menu with both open the same deck.

[2015-12-17 13:32] nemonie opened #259 "How to hide the scroll bar"
The tracker can't be shown completely because of scroll bar. But I can't resize the window.

Thanks for this perfect software:)

[2015-12-17 13:46] ecbrodie opened #260 ""No current deck, ignore game", despite having my own deck tracked"
Hi,

I was playing some games last night and I had my own deck being tracked by HSTracker via the Deck Manager. The deck tracing seemed to work just fine visually. However, I was surprised to see that none of my games ended up being saved in the local database. I looked at the logs and I found this at the end of every game:

Obviously a bug, since I had a current deck in use. Could it be because o

[2015-12-17 13:47] ecbrodie opened #261 "Spelling mistake: "loose" --> "lose""
Noticed a spelling mistake in the logs. Currently, this appears if I lost a game:

But, I think you mean:

[2015-12-18 01:34] Discohubba commented on #254
I have the same problem.. =(

[2015-12-24 00:26] asiertejada opened #262 "Golden Monkey crashes the app"
Every time the Golden Monkey is played (by the opponent or myself) the app crashes and it won't restart.

[2015-12-24 14:42] ddspade opened #263 "HS Tracker stopped working after one try."
10.11.1 El Capitan on a Mac Mini -  I downloaded the latest version and was able to play without any problems on my first day.

Next startup, I now get a blank white rectangle box in the middle of my screen whenever I load up the tracker.   There are also small transparent movable boxes but no cards from either myself or my opponent are tracked.   Sometimes the options like creating a deck or rese

[2015-12-24 15:30] jodonnell-broadsoft commented on #261
Looking into this now

[2015-12-24 15:40] jodonnell-broadsoft commented on #258
This is because the decks are stored by name and not class-name. If you want to fix the problem, you should name your decks with different names. I do hunter-aggro as the name along with shaman-aggro. This will fix the problem until we can make a better fix in the code. Its something I can look into now actually.

:) hopefully I can fix it

[2015-12-24 15:55] jodonnell-broadsoft commented on #263
Can you tell me the steps you take to start the app? Are you starting up the HSTracker app and then teh HS game?

Have you created a deck in deck manager and selected that deck? Have you tried opening the deck manager, selecting your deck and then pressing the gamepad icon in deck manager?

Is there something you were doing differently the first day? I am also running it on mac

[2015-12-24 16:04] jodonnell-broadsoft opened #265 "We need to make contribution easier"
Is there no way I can avoid a ruby motion licence? I really don't want to spend 200$ to compile this project. Is there any way to run it in the free version of the software on Mac?

Any guidance here would be great and I will repay you with some bug fixes :) @bmichotte

[2015-12-24 16:29] #261 closed

[2015-12-24 16:33] bmichotte commented on #265
This is something I already ask to @lrz, the ceo of RubyMotion. Unfortunately, they don't have any plan right now to provide a free osx version :'(

For the contributions, if you find some "easy" fixes, you can PR them, and I'll merge them manually after some testing to be sure everything is fine

[2015-12-24 16:33] bmichotte commented on #262
Mhh, that's strange, I'll check this soon

[2015-12-24 16:35] bmichotte commented on #256
Can you test this
- close hstracker
- open a terminal
- type `defaults delete be.michotte.hstracker AppleLanguages` then ENTER
- restart HSTracker, it should be in english again

[2015-12-24 16:51] birksted opened #266 "Tracker shifts position"
Everytime i reopen the tracker, the two windows have shifted to a new position. I have tried closing the app, while having the position i wanted, plus switching various prefs on and off.

Attached is screendumps of the pictures before/after, and also of my prefs.
<img width="1680" alt="skaermbillede 2015-12-24 kl 17 49 32" src="https://cloud.githubusercontent.com/assets/14851606/11996604/d1cecc86-

[2015-12-24 16:52] birksted commented on #266
Oh, and merry xmas dude! Keep up the awesome work

[2015-12-24 17:07] jodonnell-broadsoft commented on #265
Ok. I'll logic it out for now and you will have to run it. One other thing you could do is host the code on a virtual machine somewhere with a licence of Rubymotion. Then give the contributors access to upload their code there and run it on the VM.

Maybe that would work better? Or could you share your rubymotion key in any way?

[2015-12-24 17:09] jodonnell-broadsoft commented on #265
Its actually a bit odd that they have the iOS free since most devs work on their local machines and then sell the product on iOS. Weird. I would have expected that to be reversed.

[2015-12-28 19:13] pluff commented on #249
@ecbrodie you can import decks from hearthstats by using "import" button in latest version of the app. Also you can export the deck to txt file using "export" button. Hearthstats can accept the content of txt file during deck creation. I'd recommend you to create your decks via web and then sync your tracker apps on every computers with "import" button in decks manager.

[2015-12-28 19:17] pluff opened #267 "Minions brought by Deathlords does not appear in opponents card list"
When my Deathlord minion dies his deathrattle pulls a minion from enemy deck to the board.
However opponent deck window does not show this card as played. So probably this deathrattle effect parsed improperly.

P.S. might be somehow related to #244

[2016-01-06 09:01] mayagamer opened #268 "Is it possible make it able to generate decks when selecting cards or checking existing decks?"
It is possible with a Chinese tracker which is made by the Chinese proxy of Blizzard games.
You can check it out here:  lushi.163.com
If possible, it will be very convenience.

[2016-01-07 01:31] sixfngers commented on #251
+1 Hearthstats has not recorded a single match for me since connecting

[2016-01-10 02:55] flahertyj commented on #262
Saw this as well.

[2016-01-10 17:41] Jman3256 opened #269 "Tracker freezes when it is open with Hearthstone"
Hi,

Starting yesterday whenever I have Hearthstone and HSTracker open at the same time the windows in HSTracker freeze and stop working.

I cannot have HSTracker and Hearthstone opened at the same time.

When Hearthstone is closed, I can open HSTracker and it works fine. Can see decks / stats etc.

When Hearthstone opens the windows freeze. I can move the windows by dragging the top bar but I can

[2016-01-11 23:35] scouttyg commented on #269
Not sure if this is relevant towards @Jman3256's, but mine has been freezing too. Here's the tracelog:

[code]

[2016-01-13 16:14] NicolasVanhecke opened #270 "where is that freaking HSTracker.app file"
FOR THE LOVE OFF GOD, where is that freaking HSTracker.app file? I can not find it... I downloaded the zip and NOTHING.........

[2016-01-13 16:21] bmichotte commented on #270
I guess you downloaded the source available on https://github.com/bmichotte/HSTracker/releases ?

On all release, I add the download link, which is https://rink.hockeyapp.net/apps/f38b1192f0dac671153a94036ced974e

[2016-01-13 16:21] #270 closed

[2016-01-13 16:24] NicolasVanhecke commented on #270
Yep.. guess I must have clicked the wrong link over and over again. Haven't seen this website before
:+1:  thanks

[2016-01-22 03:12] ecbrodie opened #271 "Newly imported HearthStats deck does not appear in Deck menu"
When I import a deck I just created from HearthStats, the deck does not appear in the Deck menu. In this case, I had a single Druid deck already existing. I created a second Druid deck on the web and imported it to my computer's HSTracker. However, the Deck --> Druid menu only shows the single existing deck, not both my decks. In order to track with my new deck, I need to have it open in Deck Mana

[2016-01-26 10:16] RacoonJeff commented on #256
Same problem here. I'm able to change the HSTracker language but not the game language. The workaround sets the HSTracker language from English to German. But I'd like to change the game language from German to English.

[2016-01-26 18:17] osumatthew2017 opened #272 "How to set up Hearthstone Deck Tracker"
So, I've been having problems setting up the deck tracker. I've downloaded the file, moved it to applications, and opened it with Hearthstone closed. It appeared to extract the card database, but whenever I open it, The two windows that it opens are transparent, and I see no options to import deck lists or do anything. I'd appreciate some help so that I can figure out how to get the deck tracker t

[2016-01-28 19:36] isomericforest opened #273 "wrong card images"
The images of Animated Armor and Ethereal Conjurer are mixed. The one shown in tracker for Animated Armor actually is Ethereal Conjurer and vice versa. How to change them please?

[2016-01-28 19:47] isomericforest opened #274 "Can HStracker record win/loss in arena?"
I found it could perfectly track win/loss in play mode, but could not record in arena. Is there any special setting for it to record arena? Since it did not track win/loss in arena, it also did not upload the result to hearthstat. Again for play mode everything is fine including uploading to hearthstat. just wondering arena.

[2016-01-31 00:51] jpalermo commented on #262
Same here. I submitted a crash report from the app.

[2016-01-31 08:35] bmichotte commented on #262
I'm currently trying to reproduce, I don't have the crash when I play the monkey... so, it's difficult to correct

[2016-01-31 09:27] jpalermo commented on #262
If I remember right, mine crashed when my opponent played a monkey, but I also had one in my hand (or possibly still in my deck).

[2016-01-31 14:09] bmichotte commented on #262
Do you play with the option "show stolen cards" enabled ?

[2016-01-31 15:45] #258 closed

[2016-01-31 15:45] #262 closed

[2016-01-31 15:45] #267 closed

[2016-01-31 16:02] #263 closed

[2016-01-31 16:02] #269 closed

[2016-01-31 16:03] #224 closed

[2016-01-31 16:03] #236 closed

[2016-02-01 02:21] Mozpong opened #275 "Power Pc Applications are no longer supported"
Hi since todays update I'm getting a "Power Pc Applications are no longer supported" error when I try to open Hearthtracker. Any ideas whats causing this? Thanks

[2016-02-02 00:28] NicosKaralis commented on #251
+1 Me too

[2016-02-02 04:56] johnalexwelch commented on #256
Hi, I am getting the below message

[4] → defaults delete be.michotte.hstracker AppleLanguages
2016-02-01 22:55:32.230 defaults[9546:1502610]
Domain (be.michotte.hstracker) not found.
Defaults have not been changed.

[2016-02-03 04:22] lchabela commented on #251
Any progress on this? Just downloaded and worked for a few games but now no longer uploads stats or stores stats locally anymore

[2016-02-05 06:54] 2called-chaos commented on #265
I was about to ask the same question as I wanted to fix a few things and Ruby is my job. It's really a pitty :(

[2016-02-05 07:12] 2called-chaos opened #276 "HS Application path now fixed?"
Hey, today I updated HSTracker to the most recent version and unfortunately the application stopped tracking. The reason is obvious when reading the HSTracker log:

[2016-02-05 08:09:28.356][reader_manager][log]: {:log_path=>"/Applications/Hearthstone/Logs/"}

My Hearthstone is not in my /Applications folder since I don't have enough space on my SSD. I could symlink the application I guess but it

[2016-02-05 07:18] 2called-chaos commented on #276
God damnit, I should have looked into the settings :D I guess the setting is new. Nvm me

[2016-02-05 07:18] #276 closed

[2016-02-10 18:06] utinajero commented on #272
Open the deck manager with the top tool bar or command+m.
Import a deck or click on new > create your deck.
You can right click your deck in the deck manager and select play to track that deck.

[2016-02-15 19:33] bmichotte opened #278 "[README] HSTracker, the future"
Hi guys,

I've lately been busy to work on some cool stuff for HSTracker.
Since the beginning of this project, I did not think that one day HSTracker would be so used by people (0.13.2 has been downloaded 21810 times (which is huge ! thanks)). When I started writing it, RubyMotion seemed to be to be the right choice. Unfortunately (for this product), RubyMotion is a paid tool so if you don't have

[2016-02-15 19:36] bmichotte commented on #265
Closing, please check #278

[2016-02-15 19:36] #265 closed

[2016-02-16 00:11] NicosKaralis commented on #278
I loved the idea, I'm currently have a working hearthstone deck importer written in Swift and would love to contribute to HSTracker.

Just a small detail, wouldn't swift be better? They are both excellent languages, but with swift entering an open source fase, wouldn't that mean we could use the same code on other platforms?

[2016-02-16 01:47] liuxuan30 commented on #278
I would ask would swift make it easier to rewrite? Or you just comfortable writing in Obj-C? I write both OC and swift, I would insist OC for a while, but swift is really neater than OC

[2016-02-16 06:11] bmichotte commented on #278
I'm not comfortable with Swift right now, so I don't want to waste some precious time making Swift mistakes.
But I'm not against the idea of some Swift code in the future as we can mix both

[2016-02-16 06:34] djnym commented on #278
One thing I would love to see is separating the log tracking/parsing into a separate service which can be run in a pub/sub type model, such that other programs could also hook into the parsed stream of events.  Ideally, things like board position could be included so that a log could allow for replay via some of the tools from the hearthsim community.  I think a service would benefit the Mac commu

[2016-02-16 06:37] akaleMulder commented on #278
Whatever you are going to do - please be sure you are doing a great work! I really appreciate having such an awesome tool which I find extremely powerful. You are the real MVP! :+1:

[2016-02-17 10:01] ShoestringTaz opened #279 "Can't create decks"
Just installed HS tracker. When I go to decks, create new deck no cards appear so i don't know how to create a deck? It shows the paladin icon on the top but no cards to pick? Thanks

[2016-02-17 17:35] mattwelborn commented on #278
Looking forward to the rewrite! I'd like to try to make some small contributions.

[2016-02-17 18:29] bmichotte commented on #278
I'm making good progress. Hopefully I'll push a very early alpha for testers/developers quite soon

[2016-02-17 18:51] prcbass commented on #278
Awesome! Just wanted to say thanks for developing this project as it's quite frustrating to not have popular Windows tools available on Mac. Can't wait for the next build :)

[2016-02-17 19:00] Jayisgames commented on #279
I had this same issue the first time I installed HS Tracker. Although I don't remember the exact steps I used to fix it, I believe it was simply a matter of restarting the app. If that doesn't work, try reinstalling the app.

[2016-02-18 21:09] 2called-chaos commented on #278
I guess it is the right thing to do even if I then drop out since I have no idea about (Objective)C unfortunately. I would appreciate it though if it would run on 10.9 since I'm still on 10.9 :D

[2016-02-19 14:24] bmichotte commented on #278
Big change, I was bored of boxing/unboxing enums (there're a lot of enums in the code) and other boring stuff in ObjC so I decided to rewrite everything in Swift. So far, the code is not beautiful Swift, but it starts working...

So the next version will be in Swift ;)

[2016-02-20 13:32] cmario92 opened #280 "Make the deck tracker to not be on top"
The deck tracker windows are above Hearthstone window, this prevent the user to use the buttons available in the game

[2016-02-20 13:33] cmario92 opened #281 "Deck Tracker windows does not 'remember' positions"
Every time you open deck tracker, you have to reposition manually the position of each window(self, opponent and timer), even if you select 'Resize and Move windows automatically' or 'Lock windows'

[2016-02-20 13:34] cmario92 opened #282 "Cannot see full deck and the played cards faded"

[2016-02-20 13:36] cmario92 opened #283 "Size of the deck under 'Colors' not remembered"
The interface does not adjust with the selected size 'Big/Medium/Small' selected under Colors -> Card Size

[2016-02-20 22:16] bmichotte commented on #278
![capture d ecran 2016-02-20 a 23 11 23](https://cloud.githubusercontent.com/assets/235510/13199510/b5bf28bc-d827-11e5-9bb2-551b1a99f801.png)

![capture d ecran 2016-02-20 a 23 15 18](https://cloud.githubusercontent.com/assets/235510/13199514/d96f76c2-d827-11e5-969d-280372ab8c08.png)

I think I can go to sleep now ;)

[2016-02-21 01:40] cmario92 commented on #278
all the hearthstone users - we are here to test
all the swift developers - we are here to help ;) looking forward to that, keep us up to date we really appreciate what you doing for us here!

[2016-02-22 01:38] liuxuan30 commented on #278
@bmichotte LOL you decide to use swift eventually, I won't say 'told you so'

[2016-02-22 06:11] bmichotte commented on #278
@liuxuan30 I have to admit there's some good stuff in Swift ;) (and btw, Swift is a lot Ruby-ish)

[2016-02-22 10:36] asiertejada commented on #278
Congrats and thanks for your hard work. Would love to test the new version and help to improve your app once the final Swift version is released. Great job!!!

[2016-02-24 05:15] mvegacr commented on #278
Hey! I love this project. I'm not a swift developer, but for sure I would like to help testing it when you have the alpha version. Just let us know :)

Thanks for all you hard work :+1:

[2016-02-25 03:17] pcg79 commented on #278
I'm (currently) a Ruby dev but I'm interested in helping out here either w/ code contributions or testing.

[2016-02-25 13:52] terry182 commented on #278
I guess I can help in the localization work for Chinese. It is pretty sad that i don't know swift very well

[2016-02-25 13:54] bmichotte commented on #278
@terry182 Me neither, I don't know well Swift ;)

[2016-02-26 02:58] liuxuan30 commented on #278
localization for Chinese in Swift is as simple as in Objective-C. @bmichotte you must be using NSLocalizedString already, right?

[2016-02-27 16:07] Roxatha commented on #278
It's amazing the job and work u are putting in this Mac program for all of us maclovers!
Thank you!! Hope for testing it as soon as you have it.

[2016-02-28 09:18] zizhong opened #284 "Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView)"
$ /Applications/HSTracker.app/Contents/MacOS/HSTracker
2016-02-28 17:13:38.067 HSTracker[46726:979852] Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable
2016-02-28 17:13:38.067 HSTracker[46726:979852] Failed to connect (view) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable

[2016-02-29 04:11] daquino commented on #278
Java dev here but also have worked on an iOS app in Swift.  Would be glad to make some contributions.

[2016-03-02 05:07] LonelyBox commented on #278
Hey, first I'd like to thank you for the Deck Tracker, I use it everyday and I love it.
I'd really like to help you with your project with testing and other things.
I don't know Swift, but I'm always willing to learn new things.

[2016-03-03 18:37] sebastientromp commented on #278
Hey!

I'm not on OS X myself, but have heard many requests from Mac users to be able to export the game logs to a separate folder, so that the game can be replayed and discussed.

Is this something you would be open to add in a future release?

[2016-03-06 14:58] bmichotte commented on #278
@sebastientromp yes, this is indeed something I will add (hopefully quite soon)

[2016-03-06 15:20] bmichotte commented on #278
Ok, first very-very-early-alpha is on the [develop](https://github.com/bmichotte/HSTracker/tree/develop).

Atm, there's no binary, only developers should try it. See https://github.com/bmichotte/HSTracker/blob/develop/HACKING.markdown.

There's still a lot to do, but if some developers want to help, they are welcome :)

[2016-03-06 18:29] sebastientromp commented on #278
@bmichotte awesome! Don't hesitate to send me sample output once you have one, I'd be happy to give my feedback :)

[2016-03-06 18:43] bmichotte commented on #278
@sebastientromp I think I'll go with http://hearthsim.info/hsreplay/ format

[2016-03-06 19:16] sebastientromp commented on #278
@bmichotte Perfect, that would be my reco also :)

This would allo HSTracker users to direclty upload their recorded games to [Zero to Heroes](http://www.zerotoheroes.com/s/hearthstone), which is what a few players have been asking to be able to do on OS X.

Thanks!

[2016-03-11 09:39] 2019ygao opened #285 "Wrong images"
![2016-03-11 10 37 34](https://cloud.githubusercontent.com/assets/12007964/13698606/55a1f1c8-e775-11e5-93ed-de8aa65c9a86.png)
The images are wrong for Animated armor and Ethereal Conjurer.

[2016-03-11 10:47] bmichotte commented on #285
It will be corrected in the next release !

[2016-03-15 05:33] utinajero commented on #280
A work around is to lock windows. In the top menu or ⌘+L.

[2016-03-15 08:43] cmario92 commented on #280
yes, since the deck tracker windows are on top of HS, this prevents me of using the HS interface such as 'End Round', hit the settings button and more...

[2016-03-16 18:35] ardih commented on #251
same problem here

[2016-03-16 21:34] NicosKaralis commented on #251
After looking at the logs extensively I found a possible problem.

This is the log for a submit that did not appear on hearthstats even I got the notification

[code]

I think the problem is here: ``oppclass=>nil, :oppname=>"[REDACTED]"``. The only times I saw this error was if either ``oppclass`` or ``oppname`` is nil.

Can you add a input box asking for the name or class?

P.S.: name is not impo

[2016-03-16 21:50] NicosKaralis commented on #251
Also, I found that this problem happens a lot with custom heroes, (Mediv, Alleria, etc)

[2016-03-17 19:36] Xuion opened #286 "Click on Save & Nothing Happens"
Hello. I just downloaded HSTracker last night. I'm new to hearthstone tracking and addons. I don't know if I am doing something wrong or if this is a bug? When I click save after the end of the match nothing happens.

Also - How long should it take for my matches to show up on hearthstats? None of my game from today show under Recent Matches. The only match it shows is the one from last night when

[2016-03-18 02:42] Xuion commented on #286
I saw someone else was having an issue on OS X with HSTracker reporting to hearthstats. On the site it lists my matches and shows win/loss but when I try to get detailed turn by turn information its always blank.  I contacted hearthstats support to. I'm not sure if its the same people as here?

[2016-03-23 18:52] bmichotte commented on #278
Hey guys, quick update.

I'm quite ready to put a first alpha of the _new HSTracker_ but would like to find 2-3 people ready to test it and report bugs. So, who's ready to provide good tests and feedbacks ?

[2016-03-23 19:37] hagehun commented on #278
If you have a mac version I would happy to test it. Also I can try to make a wrapper in case you don't have a mac version.

[2016-03-23 20:05] Roxatha commented on #278
Hey Bmichotte I can test it. And can give u a feed back, so let me know what u need ( Mac updated to last IOS version)

[2016-03-23 20:42] NicosKaralis commented on #278
If you want I cal help to test it and find bugs.

[2016-03-23 20:42] mvegacr commented on #278
Hi! I can help with the testing too if still needs someone.

[2016-03-23 21:17] cmario92 commented on #278
Come on lets go!!another tester/dev here available, currently on latest OSX 10.11.4 - MacBook Pro (Retina, 15-inch, Mid 2015!

[2016-03-23 21:20] asiertejada commented on #278
MBP Mid 2010 on 10.11.4 ready to test.

[2016-03-23 21:33] bmichotte commented on #278
Ok, I'll try to finish Hearthstats stuff tomorrow and I'll push the alpha.
I'll keep you in touch soon !

[2016-03-24 06:09] atrophic commented on #251
I just started using HSTracker tonight. It will record my ranked games (with Lady Ladrian, so perhaps not an issue with custom heroes?) but will not record any unranked games (have tried Warrior, Rogue, Priest).

[2016-03-24 06:09] atrophic commented on #278
@bmichotte sounds like you have some people willing to help code, myself included. Is there anything in particular you'd like to see somebody work on as a pull request?

[2016-03-24 14:15] Endy13 commented on #278
Hi, I can help you test the tracker if you're interested. I'm mainly an arena player. (MBP mid 2009, OS X 10.10.4)

[2016-03-24 14:31] NicosKaralis commented on #251
@atrophic If you play as any custom hero it doesn't seem to have problems. When you play **against** a custom hero the tracker seems to never detect the class.

If you look at the logs you'll see that it detects the name of the hero, not the class. So my assumption is that custom classes are not being detected

[2016-03-24 15:08] bmichotte commented on #251
Nope, the actual version record only ranked games (not arena, brawl, ...)

It's corrected in the future release (btw, the custom heroes are also corrected in this future version)

[2016-03-25 16:30] chr0nic09 commented on #278
Hi there. @bmichotte first of all big shoutout to you! Use the Tracker a lot and really appreciate your work. I can also test! Using Mac OS X 10.11.3 (Mid 2012 - MacBook Air).

Apart from that my only two suggestions would be
a) automated deck creation while drafting arena. its so tedious to insert the deck manually.
b) tracking of arena record.

keep the great work going!

[2016-03-25 17:23] bmichotte commented on #278
If everything goes well, I should release this first alpha later today !

The link will be public so anyone who wants to test it will be encouraged to do it !

[2016-03-25 19:43] bmichotte commented on #278
Ok, so let's go !

Here's the first alpha.

# Please read the following carefully before downloading/installing

### Backup
This version will reset your preferences and use a different file to save your decks, so when you'll start this version of HSTracker, your preferences will be deleted. In order to be able to use the actual version of HSTracker, you have to save your actual preferences.
To sav

[2016-03-26 09:22] bmichotte commented on #278
Oh my... it seems I forgot to make the repository public :)

It's now available !

[2016-03-26 12:11] chr0nic09 commented on #278
Cheers - where can I open an issue? Doesn’t seem to have a page for that in the Beta repository…

Alex

[2016-03-26 12:24] bmichotte commented on #278
@chr0nic09 you can open it in this repository !

[2016-03-27 23:11] flapflap opened #287 "HSTracker Windows not on the correct "space""
Hi,
First thanks a lot for the awesome work here.
Unfortunately I'm not able to enjoy the cool features of stats during the game. The windows are staying on the space of my desktop. But Hearthstone launch itself on his own space...

Any clue?
I'm on El Capitan latest version, MBP Pro 15"
Thx

[2016-03-28 10:39] bmichotte commented on #273
duplicate of #285

[2016-03-28 10:39] #273 closed

[2016-03-28 10:40] bmichotte commented on #284
It's an error/warning from Rubymotion, not really important. (btw, it will be corrected in the next release)

[2016-03-28 10:40] #284 closed

[2016-03-28 12:05] bmichotte commented on #75
not actually possible, closing

[2016-03-28 12:05] #75 closed

[2016-03-28 12:07] #85 closed

[2016-03-28 12:07] #191 closed

[2016-03-28 12:07] #190 closed

[2016-03-28 12:09] bmichotte commented on #249
The next release of HSTracker will let you change the directory where your decks are saved, so you will be able to choose your dropbox/drive/whatever directory which is synced with your macs

[2016-03-28 12:09] #199 closed

[2016-03-28 12:09] bmichotte commented on #199
It was a Hearthstone issue, closing

[2016-03-28 12:11] bmichotte commented on #204
it's the case since I don't know which version !

[2016-03-28 12:11] #204 closed

[2016-03-28 12:15] bmichotte commented on #287
Unfortunately, it's not possible to "overlay" a fullscreen window. So you have to play Hearhtstone in windowed mode

[2016-03-28 12:15] #287 closed

[2016-03-28 12:17] #241 closed

[2016-03-28 12:17] #243 closed

[2016-03-28 12:17] #244 closed

[2016-03-28 12:17] #246 closed

[2016-03-28 12:17] #247 closed

[2016-03-28 12:17] #249 closed

[2016-03-28 12:17] #250 closed

[2016-03-28 12:17] #251 closed

[2016-03-28 12:17] #252 closed

[2016-03-28 12:17] #254 closed

[2016-03-28 12:17] #255 closed

[2016-03-28 12:17] #256 closed

[2016-03-28 12:17] #257 closed

[2016-03-28 12:17] #259 closed

[2016-03-28 12:17] #266 closed

[2016-03-28 12:17] #271 closed

[2016-03-28 12:17] #274 closed

[2016-03-28 12:17] #279 closed

[2016-03-28 12:17] #280 closed

[2016-03-28 12:17] #281 closed

[2016-03-28 12:17] #282 closed

[2016-03-28 12:17] #283 closed

[2016-03-28 12:17] #285 closed

[2016-03-28 12:17] #286 closed

[2016-03-28 12:17] #53 closed

[2016-03-28 12:17] #69 closed

[2016-03-28 12:17] #170 closed

[2016-03-28 12:17] #172 closed

[2016-03-28 12:17] #176 closed

[2016-03-28 12:17] #180 closed

[2016-03-28 12:17] #186 closed

[2016-03-28 12:17] #187 closed

[2016-03-28 12:17] #203 closed

[2016-03-28 12:17] #209 closed

[2016-03-28 12:17] #228 closed

[2016-03-28 12:17] #229 closed

[2016-03-28 12:17] #232 closed

[2016-03-28 12:17] #234 closed

[2016-03-28 12:17] #237 closed

[2016-03-28 12:17] #238 closed

[2016-03-28 12:17] #239 closed

[2016-03-28 12:17] bmichotte commented on #275
Do you still have the issue ?

[2016-03-28 12:20] #221 closed

[2016-03-28 12:20] bmichotte commented on #213
Closing, I keep #76 opened

[2016-03-28 12:20] #213 closed

[2016-03-28 12:22] bmichotte commented on #233
Closing, duplicate of #83

[2016-03-28 12:22] #233 closed

[2016-03-28 12:22] bmichotte commented on #139
The next release of HSTracker will upload arenas as well

[2016-03-28 12:22] #139 closed

[2016-03-28 12:23] #260 closed

[2016-03-28 12:24] bmichotte commented on #268
From here, I'm not able to go on this site. Is it still online ?

[2016-03-28 12:24] bmichotte commented on #272
Answered, thanks @utinajero

[2016-03-28 12:24] #272 closed

[2016-03-28 13:24] mayagamer commented on #268
Try this: http://hs.gameyw.netease.com/qd/official/HSAng_1.7.0.dmg

It's the link of the app.

[2016-03-28 19:01] bmichotte commented on #278
I've something like 20 downloads for the latest beta, any thoughts/problems guys ?

[2016-03-28 19:05] givemelove commented on #278
Nope, it worked fine for me. Was able to compile it successfully (for now)

[2016-03-29 03:20] NicosKaralis commented on #278
@bmichotte It worked ok, I guess.

I mean. It did what is supposed to do, track cards. But it pissed me off a couple of times.

I don't play on fullscreen and I don't even use the preset resolutions because of that the tracker was getting on top of the screen and was very difficult to see. Each time I changed position of the tracker it would move back when hearthstone window went active.

I've tri

[2016-03-29 05:59] bmichotte commented on #278
@NicosKaralis Did you uncheck the "Auto position trackers" option ?

[2016-03-29 07:19] cxwx opened #288 "Does somebody tell me where the pictures download on my mac when I firstly run the program, could I open it?"

[2016-03-29 07:20] bmichotte commented on #288
The images are located on `~/Library/Application\ Support/HSTracker/cards`.

[2016-03-29 07:20] #288 closed

[2016-03-29 07:28] cxwx commented on #288
thank you

[2016-03-29 08:01] cxwx commented on #288
I still cannot find the fold: ~/Library/Application\ Support/HSTracker, my HSTracked is in /Applications/HSTracker.app. Also I don't have /Library/Application\ Support/HSTracker. what's the problem?

[2016-03-29 09:34] bmichotte commented on #288
You can open Finder, use the shortcut ⇧⌘D and type `~/Library/Application Support/HSTracker`

[2016-03-29 11:03] cxwx commented on #288
yet I use terminal, and cannot find ~/Library/Application Support/HSTracker,  I download the HSTracker from https://rink.hockeyapp.net/apps/f38b1192f0dac671153a94036ced974e.
My OS X version, Darwin bogon 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016.
I don't know why.

[2016-03-29 11:50] bmichotte commented on #288
My bad, this is for the next release. For the actual, you should find it in `~/Library/Application Support/be.michotte.hstracker`

[2016-03-29 13:19] cxwx commented on #288
That's it, thanks so mush!

[2016-03-30 20:08] sebastientromp commented on #208
+1. Ideally just export the power.log for each game in its own folder so that it's easy to pick and share

[2016-03-31 02:32] Syndromal opened #289 "App Won't Open on Mac OS X 10.11.1"
Downloaded the app and moved the folder from "Downloads" to "Applications". Upon opening, nothing happens and the application icon just sits in my dock. I should add I am really excited to use these new features as I am a new Hearthstone player. Thank you in advance for any time and consideration, and I would really appreciate any and all replies. I am not tech savvy and I am probably having an is

[2016-03-31 14:06] chr0nic09 commented on #278
@bmichotte i finally got to play a little arena. I realized, that so far one can't forge arena decks since there is a cap on 2 cards for the deck manager. and the function to import a deck from a file doesn't work either so far. clicking the button doesn't trigger anything.
Going to do some constructed these days and check if the tracking itself works.

[2016-03-31 18:13] bmichotte commented on #278
@chr0nic09 i'm actually correcting the arena decks and some other stuff.

If everything goes fine, I should release a new beta version later today !

Btw, I sometimes need some help to test some cases, if there are some guys from EU here, ready to create some decks and spend some time to help, please pm me your bnet tag on twitter (@hstracker_mac)

[2016-03-31 18:49] bmichotte commented on #278
New beta available at https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.547

[2016-03-31 20:41] cmario92 commented on #278
things are getting serious now!good job my friend!
posting testing review later on tonight

[2016-03-31 20:45] cmario92 commented on #278
<img width="266" alt="screen shot 2016-03-31 at 21 43 23" src="https://cloud.githubusercontent.com/assets/5765285/14190289/de9609a0-f789-11e5-8523-f6be1e1c567a.png">

[2016-03-31 21:20] wilini commented on #278
HSTracker cannot be opened because of a problem.
Check with the developer to make sure HSTracker works with this version of OS X. You may need to reinstall the application. Be sure to install any available updates for the application and OS X.
Click Report to see more detailed information and send a report to Apple.

Using 10.11.4

Btw, does HS Tracker auto import/detect decks being played now?

[2016-04-01 00:29] Dbz opened #290 "Tracker will not expand far enough"
If you are playing a reno deck, then the deck tracker won't expand far enough to show all of the cards even if you have a big enough monitor.

[2016-04-01 06:22] bmichotte commented on #278
New beta available : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.551

Correct the error @cmario92 and @wilini reported

[2016-04-01 06:45] chr0nic09 commented on #278
@bmichotte If I save decks the draft window closes and my deck is nowhere to be found...

[2016-04-01 08:12] PtitPoussinNoir opened #291 "Can't find HSTracker.app under 10.11.3"
Can't find HSTracker.app under 10.11.3, need help :(

[2016-04-02 04:22] Dbz commented on #290
I am willing to fix this. Can you point me in the right direction?

[2016-04-02 06:31] bmichotte commented on #290
I'm actually trying to figure out how I could correct this issue. This should be fixed in the next version

[2016-04-02 06:32] bmichotte commented on #289
The first start of HSTracker can be really long, could you please try again and let HSTracker work ?

[2016-04-02 19:53] justpassingby opened #292 "HSTracker 0.13 not working since last HS update?"
As per the title, HS Tracker is not tracking any of my games or any part of them since the last HS update (where 16 deck slots were introduced etc.). Is this just me or is this a known issue that will be fixed in the next update?
I've tried reinstalling to no avail, and can't find any references to this anywhere else on the net hence the query here.

Thanks in advance.

[2016-04-02 20:39] cmario92 commented on #278
having the same issue with @chr0nic09 . I can create a new deck but once I save it, it is not store anywhere

[2016-04-02 20:53] hagehun commented on #278
I saved a deck but the tracker does not follow anything (draws, cards in hand, enemy cards, etc).
Also is I don't use the auto position it just stacks in the lower left corner and thats it.
I tried to change the size of the cards from big to medium, but has also the same results.
When I pick the cards for a deck if I resize the window the cards don't follow the new size ( like I have 3 rows and 3

[2016-04-02 21:18] bmichotte commented on #278
@hagehun could you please post a screenshot ?

[2016-04-02 22:13] ytbewhitebox opened #293 "HSTracker not working at all... # UI-Design, Usability and User Experience"
Hey there,

**first of all, thank you for your great work and effort you put into this!
I am very grateful for you making this piece of software availible for everyone!**

So the bugs I am experiencing with the App Version posted two days ago were the following:
- The tracker windows wont be klick- and moveable. Even if the auto pos. option is off.
- I cant add new Decks to the manager. After I sa

[2016-04-03 10:04] bmichotte commented on #293
Hi,

thanks for your great feedback. Let me answer all your points.

I'm not sure to understand this point. Could you more precise on this?

Looks like I broke something in the latest update. I'll check an correct for the next version

Yes, this is not yet implemented, I'll try to add it soon

I have to add this but didn't had the time yet.

At least one good point :D

I'll check this point. When

[2016-04-03 10:43] bmichotte commented on #290
I think we are good now :)

![capture d ecran 2016-04-03 a 12 42 06](https://cloud.githubusercontent.com/assets/235510/14232011/993325e8-f999-11e5-999a-b5ffb4f115e9.png)
![capture d ecran 2016-04-03 a 12 42 16](https://cloud.githubusercontent.com/assets/235510/14232012/993729ae-f999-11e5-97d1-5a28f603c7a5.png)

Now, the tracker will resize its cards to fit them inside the size of the window !

[2016-04-03 10:47] bmichotte commented on #292
I admit I don't use 0.13 for a while now and only use the 0.16 beta that you can find https://github.com/bmichotte/HSTracker/issues/278 (If you choose to use the beta, please read the informations I added in it carefully)

[2016-04-03 10:48] bmichotte commented on #293
Btw, if you choose to help with some design, could you please check #76 ?

[2016-04-03 11:48] hagehun commented on #278
Sure, here the are:
![Uploading Screenshot 2016-04-03 13.45.40.png…]()
![Uploading Screenshot 2016-04-03 13.47.12.png…]()

[2016-04-03 11:53] hagehun commented on #278
I tried to import from the web (hearthpwn) but the deck does not showed in my list.

[2016-04-03 15:29] bmichotte commented on #278
new beta available : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.558

[2016-04-03 15:41] givemelove commented on #278
👍

[2016-04-03 16:04] #290 closed

[2016-04-03 16:11] bmichotte commented on #278
Is anyone on beta is able to reproduce #245 ?

[2016-04-03 16:30] bmichotte commented on #83
Closing, duplicate of #58

[2016-04-03 16:30] #83 closed

[2016-04-03 16:31] bmichotte commented on #173
It should be fixed

[2016-04-03 16:31] #173 closed

[2016-04-03 16:32] bmichotte commented on #226
Closing, duplicate of #58

[2016-04-03 16:32] #226 closed

[2016-04-03 16:34] bmichotte commented on #291
How did you install HSTracker ?

[2016-04-03 18:16] justpassingby commented on #292
Thanks for the response. I'll take a look at the beta.

[2016-04-03 18:16] #292 closed

[2016-04-03 18:52] oker1 commented on #226
Not really a duplicate, this is the other way around. You have your decks in HSTracker and you import them into hearthstone.

[2016-04-03 21:24] Dbz commented on #290
Awesome! Thank you

[2016-04-03 23:24] cmario92 opened #294 "Beta 0.16.558 - Can't see HSTracker windows while HS is running"
I don't know if it just me, but I can see my decks loading when HS is not running, but it seems that once HS is loaded, all the windows for HSTracker are becoming invisible/disappearing/gone.

If I quit HS while HSTracker is loaded, HSTracker windows cannot be seen.

If I quit HSTracker, and I open it again then its all working fine. If I enter HS then all the windows are gone again.

Also, it see

[2016-04-04 12:33] zweicheng12 commented on #278
There seems to be some problems on beta 0.16.558:
When I add a deck from a file, the deck manager does not recognize the class correctly sometimes;
the icon of warrior in the deck manager is not attached to the decks of warrior;
and it seems that the app does not track the position of hearthstone correctly, the timer is placed wrongly.

[2016-04-04 14:22] hagehun commented on #278
I still have the issue where the tracker does not follow the game. I set up the deck, load it in but then nothing happens.

[2016-04-04 14:23] bmichotte commented on #278
@zweicheng12 Ok, I got it, will be corrected soon

@hagehun Did you choose to "use the deck" ?

[2016-04-04 14:25] hagehun commented on #278
@bmichotte Yes I did and it loads in the preview of the deck. But the tracking part isn't happening.
I also tested the import from a file function, it worked for me.

[2016-04-04 14:31] bmichotte commented on #278
@hagehun is the path to hearthstats is correct on your preferences ?

[2016-04-04 17:35] hagehun commented on #278
@bmichotte Ok, I solved the problem. The path I gave to the program was hearthstone/Log - but the program added a plus /Log (HearthStone/Log/Log) and didn't tracked anything. When you add the path you only need to find your HS libraly.
Now the tracking works!
What should be the default backup directory?
Also if enemy deck tracking is on, how can you save their deck?

[2016-04-04 18:17] chr0nic09 commented on #278
@bmichotte
hey there. did a little bit testing and wrote a list of things that caught my eye. Dont know how important they are on your priority list but at least ill have mentioned them.

a) if i change the size of the cards in the preferences it smashes my tracker into the left bottom corner of my screen and completely shrinks the window (see screenshot)
b) The opponent tracker always is open whe

[2016-04-04 19:00] bmichotte commented on #294
@cmario92 Ok, I got it. It will be corrected on the next release

[2016-04-04 19:03] bmichotte commented on #278
@hagehun

I think I should add a FAQ or something like that for those kind of issue, it should help people.

It's <YourUserHome>/Library/Application Support/HSTracker. I added the option to change the deck path in order to save your data in your dropbox/drive/some sync folder to share between multiple mac

I have to add it :)

Same thing !

[2016-04-04 19:11] bmichotte commented on #278
@chr0nic09 c

Will be corrected in the next release, it's related to #294

You are right. The "close" button only close the window. I'll add some code to "uncheck" the option "see opponent tracker" when you close the window

Related to b)

Actually the code to this is "TODO change menu label" :D

yes, you should not use this option, it helps me to move windows to get their coordinates. This menu w

[2016-04-04 19:13] bmichotte commented on #278
@zweicheng12 Could you post the content of your deck ?
The class is find by getting "class card". If your deck does not contain any class card, the class will not be guessed. But it can be some kind of bug :) (also, what hearthstone do you use ?)

[2016-04-05 01:43] zweicheng12 commented on #278
@bmichotte sure, there it is:
2 Zombie Chow
1 Shadow Madness
2 Auchenai Soulpriest
2 Deathlord
2 Power Word: Shield
2 Shadow Word: Pain
2 Flash Heal
1 Wild Pyromancer
1 Justicar Trueheart
1 Sludge Belcher
2 Holy Nova
2 Shadow Word: Death
1 Velen's Chosen
2 Entomb
2 Thoughtsteal
1 Elise Starseeker
1 Lightbomb
1 Northshire Cleric
2 Circle of Healing
it seems that if the first card is not a class car

[2016-04-05 09:29] chr0nic09 commented on #278
@bmichotte

Actually, the format is .txt files with 1 card per line, either "2xMirror Image, 2 Mirror Image or 2 GVG_002

Ok I didn't try it that way. Will test it and see if everything is ok

[2016-04-05 11:42] hagehun commented on #278
When I am making a deck in the HSTracker and double click a previously selected card to get out from the deck, the program crashes.

[2016-04-05 11:54] bmichotte commented on #278
@hagehun thanks you, I have this crash message on HockeyApp and didn't understand it !

It's resolved (will be on next beta)

[2016-04-05 12:11] hagehun commented on #278
Also I came across into this gem:
I am tracking my opponent's track to test the tracker and usually the lower part with the cards in hand and chances table go down with every played card. Then suddenly a copy of it popped out and appeared next to the original one. I think it is something with the secrets because the freeze mage did not played any vaporize secret, spellbender or mirror image.
<img

[2016-04-05 12:55] #294 closed

[2016-04-05 14:41] cmario92 commented on #278
@bmichotte hello mate, I know you are busy we all appreciate what you are doing for the OSX community. I am just wondering when the next alpha will be released so I can do some further testing, since the last update was causing the HSTracker windows to be hidden?
Cheers

[2016-04-05 14:44] bmichotte commented on #278
@cmario92 I should release it later today

[2016-04-05 15:08] hagehun commented on #278
@bmichotte I made a deck in the tracker and saved it, used it to track my game and after a relaunch it was gone. Somehow I lost that deck.
Also missing the export option.

[2016-04-05 16:39] Hsinats commented on #278
The only problem I am having is that roaring torch does not appear in the tracker. The other quality of life thing I would like is the ability to turn off the secret predictor.

[2016-04-05 16:48] bmichotte commented on #278
@hsinats you'll be able to in the next release ;)

[2016-04-05 18:43] bmichotte commented on #278
Here we are, new beta https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.566

[2016-04-05 19:48] chr0nic09 commented on #278
@bmichotte i was wondering.... will there be a tool where the Tracker can read the Arena.log file while drafting so that it can automatically create a deck? or some other "easier" way to import the arena draft? New testing of the beta will follow tomorrow..

[2016-04-05 19:55] givemelove commented on #278
@chr0nic09 I like the idea. Looks like it could be something doable. Perhaps you could add it as a standalone Issue entry so we can track it more efficiently.

[2016-04-05 20:00] bmichotte commented on #278
@chr0nic09 @givemelove screenshot from the HSTracker logs...
![capture d ecran 2016-04-05 a 21 57 09](https://cloud.githubusercontent.com/assets/235510/14296240/7082d850-fb79-11e5-9c29-8b8aa2ac0add.png)

The same also exists for arena. There are a lot of work for this one, which is planned for 0.18. There are already multiple issue (see #58)

[2016-04-05 20:06] givemelove commented on #278
@bmichotte That's during the draft however.

Once the draft is complete, and when you get into the Arena screen, the following gets appended to the `Arena.log` file:

[code]

We could use that instead to build the element right away instead of trying to figure out what possible cards have been selected.

Perhaps another Feature Enhancement would be to link things with like an `HearthArena` of some

[2016-04-05 20:09] givemelove commented on #278
It also maps with the cards you download / process upon install
![screen shot 2016-04-05 at 1 09 17 pm](https://cloud.githubusercontent.com/assets/573669/14296578/aa81a328-fb2f-11e5-86c4-513eea3fbd43.png)

[2016-04-05 20:16] bmichotte commented on #278
@givemelove I just draft an arena deck to show you. The only issue is that you don't have the number of card so I have to present the deck manager in "a special create deck" mode to allow you to choose how many cards you have.
Also, this log show all cards from the draft, so you'll have to remove some cards.

But I guess it could already be a nice feature to have this list :)

![capture d ecran 20

[2016-04-05 20:18] bmichotte commented on #278
The feature would be awesome. The only problem is you can't get the cards before you leave the draft. So it's a little too late

[2016-04-05 21:26] bmichotte commented on #278
Ok, come guys, tell me this version is stable enough to release it 🎱

[2016-04-05 21:57] givemelove commented on #278
Sorry bro, not yet.

Noticed a few issues (wasn't smart enough to capture them properly however).

On an arena run, noticed the following:

* On 1 run, the enemy hand did not reset from 1 game to the other. (Screenshot, left section shows a Rogue's hand yet I"m playing a mage).
* Mind Vision was played for me on Turn 1 yet the card still appeared as if it was in my hand (Screenshot, right section

[2016-04-06 16:33] bmichotte opened #295 "Beta 0.16 : localizations"
Hey guys,

I need your help to translate HSTracker !

So far, those languages are translated :
- [x] English*
- [x] French
- [x] Chinese
- [x] Spanish
- [x] German
- [ ] Italian
- [ ] Portuguese

  *for english, if you find some errors, feel free to help also !

To translate, you have to edit the files in the following dirs (in the [master branch](https://github.com/bmichotte/HSTracker/tree/master

[2016-04-07 04:07] Hsinats commented on #278
I had a really weird issue where it switched who it was tracking and added a few cards to my tracker.

The first pic is the tracker at mulligan, showing Arcane blast and missiles, apprentice and counterspell despite me not running any of those cards, while the opponent's tracker shows what I have drawn.

![screen shot 2016-04-06 at 7 42 12 pm](https://cloud.githubusercontent.com/assets/18266093/14

[2016-04-07 04:21] atrophic commented on #278
I can't even get the HSTracker windows to show up. Deck manager works, but none of the overlays show up ):

The only thing different I can notice from the screenshots is that my dock is on the left of the screen. Are you doing any screen-scraping that could get messed up by that, or is everything done by reading the logs?

[2016-04-07 05:49] bmichotte commented on #278
@atrophic My dock is also on the left.

Did you

1. Choose to "use deck" in the deck manager ?
2. Do you use the option "auto position trackers" or not ?
3. If not, could you try "windows -> unlock" and move the trackers ?

[2016-04-07 05:51] bmichotte commented on #278
@Hsinats Could you open your Finder and type ⇧⌘G then type `~/Library/Logs/HSTracker`. This should open your finder to the logs directory.

Could you then use something like http://pastebin.com/ to share your log file ?

[2016-04-07 05:59] Hsinats commented on #278
http://pastebin.com/sbYRnPMM

http://pastebin.com/6EZD8cBR

I found two they didn't seem to be from today.

[2016-04-07 18:56] bmichotte commented on #278
And we have a new beta !

https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.582

[2016-04-07 20:26] all-your-database commented on #278
It doesn't seem like results are synching back up to hearthstats for me

[2016-04-07 21:07] Endy13 commented on #278
Hi,

I tried the new beta and I can't create a deck with the deck manager:
- launch HS
- launch HSTracker
- Open deck manager
- Click on the Add button
- Choose : arena Mage deck
- Cards show up for 2 seconds before the program quits : HSTracker stops in an unexpected way

My config : MacBook Pro mid 2009 OSX10.10

[2016-04-08 13:25] ytbewhitebox commented on #295
I am on it ;)

[2016-04-08 15:27] bmichotte commented on #278
@Endy13 Could you open your Finder and type ⇧⌘G then type `~/Library/Logs/HSTracker`. This should open your finder to the logs directory.

Could you then use something like http://pastebin.com/ to share your log file ?

[2016-04-08 15:27] bmichotte commented on #278
@all-your-database Could you also share your log ?

[2016-04-08 17:30] bmichotte commented on #295
@ytbewhitebox when did you sent this mail ? can't find it, could you resend ?

[2016-04-08 17:33] ytbewhitebox commented on #295
Hey,

this morning, without any text only subject.

I did many Pulls, can you check them if I made them right?

Also there were some here:
https://github.com/ytbewhitebox/HSTracker/branches/yours

Sorry, I am a GitHub noob, once again, tell me if it is all right ;)

And please compile a new version asap, so that I can check it at usage in my language.

Kind regards.

[2016-04-08 17:38] bmichotte commented on #295
I don't have mail from you this morning.

For the translations, everything looks good, except you forget https://github.com/bmichotte/HSTracker/tree/develop/HSTracker/de.lproj (or you don't pull request it)

[2016-04-08 17:46] ytbewhitebox commented on #295
I forgot to pull
have some more in the pipeline, pulling em atm

[2016-04-08 17:55] ytbewhitebox commented on #295
kk mail was out by me, but dont worry, I think we can fix it here ;)

Now I am finished with pulls, please Feedback if everything fits.

Where can I see them approved?

[2016-04-08 17:57] bmichotte commented on #295
You should have receive some mails telling you I merged them, except the last ones because you pulled too much stuff, so I merged them manually.

[2016-04-08 18:01] ytbewhitebox commented on #295
You are welcome!

If you compile another Candidate, I will see if it all fits correctly.

Kind Regards!

[2016-04-08 18:24] bmichotte commented on #295
@ytbewhitebox I'll probably release another version this week-end if I correct some stuff !

[2016-04-08 18:31] ytbewhitebox commented on #295
kk made you a pre-splashscreen for the next release, hope you like it.

[2016-04-08 18:54] eddietec opened #312 "Windows position been reset"
This happens after clicking the client in new beta.

[2016-04-08 18:59] eddietec commented on #312
You can find a video here of the issue: https://www.youtube.com/watch?v=G2hp-lQE0Po

[2016-04-08 18:59] ytbewhitebox opened #313 "[Bug] Positions of cardcount icons faulty when in two display mode Pt. I (Main Screen)"
Hey there,

I just found an Issue with the cardcount icons when in two display mode on my iMac:

When I start everything like it sopposed to be it works correctly.

![bildschirmfoto 2016-04-03 um 22 53 04](https://cloud.githubusercontent.com/assets/18236776/14394476/bf15176c-fdcc-11e5-8758-5b97974a308d.png)

But when I click on my second sreen, the icons go to the middle of the windowed gamescreen

[2016-04-08 19:01] ytbewhitebox commented on #312
Video is private, please correct this. Greets

Do you mean this? (Screenshot)

![bildschirmfoto 2016-04-03 um 19 38 41](https://cloud.githubusercontent.com/assets/18236776/14394529/04b11a6e-fdcd-11e5-924e-a9069e641b2a.png)

[2016-04-08 19:02] eddietec commented on #312
No, another one, I just uploaded a video with the issue.

[2016-04-08 19:03] ytbewhitebox commented on #312
KK, video is private, nobody can see it, i suppose.

Kind regards!

[2016-04-08 19:05] ytbewhitebox opened #314 "Locking Window position and freeing them again does this for me (screenshot)"
Locking Window position and freeing them again does this for me (Instantly) (screenshot)

![bildschirmfoto 2016-04-03 um 19 38 41](https://cloud.githubusercontent.com/assets/18236776/14394644/8c197cda-fdcd-11e5-9724-2184462bb2a2.png)

[2016-04-08 19:08] eddietec commented on #312
Sorry about that, I make it unlisted instead of private, can you check the again?

[2016-04-08 19:12] ytbewhitebox commented on #312
The video works, thx, just wait for bmichotte to answer you ;) i am not a coder, just saw the issue may be fitting to my problem.

Kind regards!

[2016-04-08 19:23] bmichotte commented on #312
@eddietec this is not really an issue, you should have "auto position trackers" checked on preferences ?

[2016-04-08 19:36] bmichotte commented on #313
I'll check tomorrow with my second screen

[2016-04-08 19:37] bmichotte commented on #314
mhhh, strange. I'll check

[2016-04-08 19:39] ytbewhitebox commented on #314
I do have to reposition them manually again afterwards, because they stay as clumsy as they are in the Screenie

[2016-04-08 19:52] eddietec commented on #312
Thx guys, that worked, but you need to make sure that after upgrading, that option is disabled, so, windows positioning is set as users want before getting latest version. Or ask about that like a wizard, not sure, anyway, thanks!!

[2016-04-08 20:16] asiertejada commented on #293
I've been also playing a little bit with the UI design.

First, I don't like at all the HearthStats icons and now with the new frames of the new version even less.

The old version of HSTracker let you choose between a couple themes so maybe this feature could be reimplemented (a HearthStats theme and a more HearthStone-like skeumorphic one?).

I've started to redesign the class icons/buttons in t

[2016-04-08 20:18] ytbewhitebox commented on #293
Please keep in mind that there could be copyright issues.

[2016-04-08 20:23] asiertejada commented on #293
App is already using Blizzard IP. Don't think that would be an issue as this is a not commercial software.

[2016-04-08 20:28] ytbewhitebox commented on #293
Yeah, cards and stuff, I get it.

I had let it be since I wanted to the same as you, but dont know how far original pictures can be used. Idk the EULA of Hearthstone or such, maybe we should ask for permission of blizzard. Idk my suggestion / oppinion.

[2016-04-08 20:31] ytbewhitebox commented on #293
And if I may suggest to make the border a bit smaller (2px or so)? It is kind of bulky. If @bmichotte likes them its all fine. But my suggestion is making them smaller, since they should be used a bit smaller in the List view, too. As you can see. Liek the color choice of yours!

[2016-04-08 22:33] all-your-database commented on #278
After further investigation it is uploading, but it uploads to new decks with the same name as my old ones, but I guess that is not really an issue. I can also reproduce Endy13's issue. The log has pretty much no detail in it...basically just went decks -> deck manager -> click add -> choose class, hit OK...windows show up briefly then it crashes. Maybe a bad image resource somewhere?

http://past

[2016-04-09 18:45] cmario92 opened #315 "Moving hearthstone into another 'desktop' in mission control, causes HSTracker to stay on the last one"
Hello mate, got a strange for you here.

While playing HS with HSTracker open, if I decide I want to move HS into another Desktop(three fingers down on touchpad, double tap-two fingers on magic mouse), the HS windows stay configured on the previous display set.

To resolve this issue, HSTracker needs to be restarted(tried switching on and off the auto position checkbox in preferences, but this doe

[2016-04-09 20:38] bmichotte commented on #315
The problem is that there are no event for "a window move in the workspace", so it could be a idea.

[2016-04-09 20:40] bmichotte commented on #293
I like it but like @ytbewhitebox said, maybe with a thinner border.
I could provide a "classic" theme (with this kind of icons) as well as a "flat" theme (the current one).

Do you have any idea to design some frames for the list of deck ?

[2016-04-09 21:18] cmario92 commented on #315
yes, but you can catch this but adding a code to check the HS window when HSTracker is active again, since when triggering Mission Control, HSTracker gets minimised. Therefor, there is not way of the HSTracker to 'move in the workspace' without getting minimised.

Of course, you can ignore this for now this is not primary functionality. But you can keep it in your bug list and maybe we work on thi

[2016-04-09 22:55] asiertejada commented on #293
Borders, colors and shadows, etc. can be easily modified. In fact I'm using the HearthStats ones in the example, and as you can see they need to be modified when used with the classic icons that have a dark background.

![](http://i.imgur.com/Q6cMl7O.png)

My point was creating an alternative to the HearthStats theme.

I have cloned your repo locally so I have an idea of the assets (sizes, etc.) t

[2016-04-10 09:50] ytbewhitebox commented on #295
@bmichotte Benjamin, can you at least send me a compiled candidate of the actual state, so I can test the language and Deck Manager? When I am constructing a Deck it will crash if window looses focus. Idk why…

Kind Regards

[2016-04-10 10:06] bmichotte commented on #293
@asiertejada I was thinking of something like this... what do you think ?

(ps: enjoy my photoshop skills)

![687474703a2f2f692e696d6775722e636f6d2f5136634d6c374f2e706e67](https://cloud.githubusercontent.com/assets/235510/14409478/9fe613fc-ff14-11e5-9a35-5f70e272bf04.png)

[2016-04-10 10:14] bmichotte commented on #278
New beta : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.607

This is the beta for @ytbewhitebox ;) (and all other german users)

[2016-04-10 10:25] bmichotte commented on #278
@all-your-database ok, I find the cause of the crash (and correct it), it's when you try to change the current set. Will be correct in next release

[2016-04-10 10:55] ytbewhitebox commented on #278
Thank you very much ;) I will be back soon

[2016-04-10 12:37] Endy13 commented on #278
@bmichotte here is the pastern : http://pastebin.com/Eh5AxjvF
Sorry it took some time !

[2016-04-10 21:58] asiertejada commented on #293
OK. I don't see it having the class icons again on the deck list.

I have been testing the following design:

![](http://i.imgur.com/U1sTycE.png)

Frame is still WIP (colors, shadows, …). Feedback?

[2016-04-10 22:12] ytbewhitebox commented on #293
In my opinion it is too fancy and fanart-like, i think it is the wrong approach to make a Decklist that is easy to manage.
A smaller class Icon in front and a Caption with normal weighted (and easy readable) Typo plus a button for prefs would do better, i think.
I have the same opinion like @bmichotte has asked for. I do definitely see the Class Icon again in the decklist for faster and easier Dec

[2016-04-10 22:13] ytbewhitebox commented on #293
But i'll try to come up with a few concepts by the end of next week…

[2016-04-11 16:05] asiertejada commented on #293
First of all, thanks for your constructive feedback.

I agree with:
* *Colored font is not readable*. In fact it is not needed. Just a test to keep using Hearthstats colors. Discarded.
* *Images and readability*. Was a quick test. Room to improvement.

I disagree with:
* *Fanart design makes the UI difficult*. Not related in my opinion. Functionality is independent of the skin.
* *Hero portraits n

[2016-04-11 19:03] #312 closed

[2016-04-11 19:04] #314 closed

[2016-04-11 19:25] #315 closed

[2016-04-11 19:36] bmichotte commented on #293
My ideas are quite simple. I will steal (this is an habit now), the new themes from Epix HDT (the windows version) for decks, but also want to provide deck manager themes.

I do like flat stuff, but I think some people can like skeumorphic UI, and so, why not provide a more HS theme for the deck manager.

Therefore, I like your idea, but more the last proposition you made, with one exception, I'm

[2016-04-12 18:45] ytbewhitebox commented on #293
This feedback is offered to @asiertejada and is open to read for anyone strongly concerned about the app design, too:

You didn't understand my statement here. And there is no need to be sarcastic. You seem to not be a designer for real, you seem to be a coder and a hobby mediadesigner, maybe you are a wood- and socialworker, too. It is nothing wrong with that, knock yourself out. I won't use your

[2016-04-12 19:24] bmichotte commented on #293
@ytbewhitebox @asiertejada First of all, I'd like to thank you for helping, giving ideas and your time for HSTracker. I really appreciate it.

BUT. I don't want any kind of drama here. I think we are intelligent adults and can express ourselves without being gross or that kind of stuff.
Even if one can't be fine with another, I think, everything is good to take. In his last design, @asiertejada re

[2016-04-12 19:38] bmichotte commented on #278
HSTracker 0.16-alpha 1 is here, please test and report problems !
https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.633

[2016-04-12 20:16] asiertejada commented on #293
@ytbewhitebox Man, I don't know why you're taking this thing so personally. It's not a matter of your design versus my design or something like that. It's just a skin, a theme. There could be hundreds of them. You just choose the one you like. You have better ideas, OK, propose them. Everybody would be more than happy to have more than 1 or 2 choices. I don't think this is a contest of any sort.

[2016-04-12 21:32] ytbewhitebox commented on #293
@bmichotte @asiertejada Oh my god, me neither wants a anonymous internet drama performed at my precious workingtime in my office while I have to do some serious client work for money in exchange. That is why I was giving good advice, instead of making a drama out of this. I really do hope you got the message in the first place! There is too much effort taken inside this already by writing that lon

[2016-04-13 04:10] Mord3th commented on #278
I seem to be missing something—how do I import my decks from the stable version into the beta?

[2016-04-13 06:39] hagehun commented on #278
I tried to turn off the timer but nothing changed. Maybe you should take a look on that.

[2016-04-13 07:34] ytbewhitebox commented on #313
Hey, the new alpha works like a charm for me.
Now the situation is as follows:

The card chips were following the window perfectly.
When I click on my second screen the chips disappear and the timer wanders of like in the screenshot:

![bildschirmfoto 2016-04-13 um 09 28 10](https://cloud.githubusercontent.com/assets/18236776/14485967/c68bf02e-015a-11e6-8a2c-daa2243542ee.png)
![bildschirmfoto 2016

[2016-04-13 07:53] ytbewhitebox commented on #295
Hey there, where can I find the localization file for these menu items?

![bildschirmfoto 2016-04-13 um 09 52 12](https://cloud.githubusercontent.com/assets/18236776/14486498/899315b4-015d-11e6-8629-571f834b277a.png)

[2016-04-13 07:57] ytbewhitebox commented on #295
UI positioning issue (GER):

![bildschirmfoto 2016-04-13 um 09 55 57](https://cloud.githubusercontent.com/assets/18236776/14486586/0afe2e40-015e-11e6-9cb3-3647bd994618.png)

[2016-04-13 07:58] ytbewhitebox commented on #295
![bildschirmfoto 2016-04-13 um 09 58 00](https://cloud.githubusercontent.com/assets/18236776/14486643/4f4c5b76-015e-11e6-8fa8-e32bad92f948.png)

[2016-04-13 08:02] ytbewhitebox opened #320 "Sorting from cards is off when using german translation"
I don't know if there is an internal card prio sorting inside of HS but this would be nice, if it would fit the localization of the language used:

![de_sort](https://cloud.githubusercontent.com/assets/18236776/14486722/c420ea98-015e-11e6-966b-2beb9135503d.png)

When transferring decks manually from the Tracker to HS it is easier to read, imo.

Kind Regards!

[2016-04-13 08:07] ytbewhitebox opened #321 "Option to turn off colors for legendary and rare cards in the trackerwindow."
It would be nice to implement that again.
It is a good feature but maybe it is better if optional.

I for example find it irritating while searching for cards.
Because the color is eyecatching my attention too much.

Maybe an option to darken the manacost Gem a bit to see the costs while eye pointing immediately. Or trying out to make a bit of a thicker boarder (1-2px) with (very) light drop shado

[2016-04-13 08:12] ytbewhitebox commented on #295
Maybe I do open a new Issue Post for continuous work on that issue since it will be a permanent thing to be fixed whilst localization is made continuously?

[2016-04-13 17:35] bmichotte commented on #295
@ytbewhitebox you can even open a new issue each time I close them :)
Btw, all the above are corrected and will be available in the next release

[2016-04-13 18:29] bmichotte commented on #320
Fixed for next version

[2016-04-13 18:32] bmichotte commented on #313
@ytbewhitebox Could you reproduce then check the logs (open Finder and type ⇧⌘G then type ~/Library/Logs/HSTracker) and search for `HSFrame : some numbers` then paste them here ?

[2016-04-13 18:34] bmichotte commented on #278
@Mord3th there is no import from previous version, you have to export them into files them reimport them (or through hearthstats)

[2016-04-13 18:34] bmichotte commented on #278
@hagehun looking at this

[2016-04-13 18:56] #320 closed

[2016-04-13 18:56] #321 closed

[2016-04-13 19:16] hagehun commented on #278
Also when my enemy plays a secret, all of the secrets are shown near his/her decklist. After the turn everything goes back to normal (or after the secrets pop).
<img width="414" alt="screenshot 2016-04-13 13 37 39" src="https://cloud.githubusercontent.com/assets/1014117/14505824/27c57e68-01bb-11e6-89ab-2835a06ebefd.png">

[2016-04-13 19:22] Hsinats commented on #278
@hagehun Do you have "Show secret helper" checked in preferences?

[2016-04-13 19:31] hagehun commented on #278
@Hsinats Yep, I have. It should look like this? I didn't know... Sorry guys!

[2016-04-13 19:34] Hsinats commented on #278
@hagehun Something like that. It starts with a list of all secrets available to the class, then as you "test" one by attacking, summoning a minion or what not it will fade. It gets really big if they play several secrets in a turn.

[2016-04-13 19:42] ytbewhitebox commented on #313
Did as you said, found nothing…
…logs are there and readable, but that "HSFrame" u talked about could not be found… sorry

[2016-04-13 20:18] bmichotte commented on #278
@hagehun like @Hsinats said, if you opponent play one secret, you'll see all the secret available to its class. For the example, let's say you play against a mage.
If you play a minion and the secret does not trigger, you'll see that mirror entity fade, and so on.

If your opponent play multiple secret (like a mysterious challenger, you'll see this screen. You can disable this by unchecking the se

[2016-04-13 20:47] ytbewhitebox opened #323 "[Request] Proposals for workflow optimization, when compiling a Deck in the Deck Manager"
Hey there again,

I compiled many Decks in my manager for now.
While I did this, I had a few things in mind:
- Because I am a fan of using the search function quite often it would be nice if the previous Text in the Textform would be focused, so that I can begin to type and overwrite my old search term again and again instead of pressing ⌘ + A for every new searchterm.

⌘ + F → Searchterm → Click

[2016-04-13 22:01] ytbewhitebox commented on #278
It would be nice for noobs, to see the secrets card text by hovering. This would actually be nice to have again, in the trackers decklist. At the Player and the Opponent tracker , this feature would be nice.

[2016-04-14 13:00] ytbewhitebox commented on #313
So here is the situation on my second screen (wacom cintiq 13 HD @ 1080p):
If start hearthstone and put it onto my 2nd screen it looks like this when HSTracker satarts:

![tracker pos 01](https://cloud.githubusercontent.com/assets/18236776/14528643/d95d3cf2-0250-11e6-84ff-57e77973e790.png)

After I deactivate and activate the "auto tracker position" in the preferences menus, the Tracker positions

[2016-04-14 20:45] bmichotte commented on #323
- It would be nice to have filters like mana cost (Checkboxes form 1 – 7+), HP (Textfield), Attack (Textfield), Legendary etc. (Checkboxes with colors or the pictures of the Gems on the CB)

Implemented

I'm not sure to understand, could you explain a little more ?

- A listview and a textview of Cards and decks would be VERY nice!
- It would be VERY NICE if the user could mark cards they own. So

[2016-04-14 20:57] ytbewhitebox commented on #323
Nice! Thank you, already saw that on twitter! Thank you for that.

To speed things up a little, in addition to checkboxes for mana (etc.) at the bottom of the set-dropdownlist there should be checkboxes to activate filters with the symbols of the Sets available to choose from. (Very nice icons btw!)

I meant the Icons from the dropdown menu –>
![bildschirmfoto 2016-04-13 um 22 42 06](https://cloud

[2016-04-14 21:05] bmichotte commented on #323
Yep, now I see :)

I'll check what I can do

[2016-04-15 17:04] ytbewhitebox commented on #295
Another one when saving a Deck in Deckmanager:

![bildschirmfoto 2016-04-15 um 19 02 55](https://cloud.githubusercontent.com/assets/18236776/14569105/c8b4fefc-033c-11e6-884f-678ba8b99401.png)

[2016-04-15 17:31] bmichotte commented on #295
@ytbewhitebox I'll correct it. btw, could you please open a new issue next time, it's easier for me ;)

[2016-04-15 18:03] ytbewhitebox commented on #295
Hehe, ok no Problem!
Deutsch ist keine schwierige Sprache, belgisch oder französisch ist viel schwerer! ;) :P

[2016-04-15 18:04] ytbewhitebox commented on #295
Edit: When can I expect the next release for checking?

[2016-04-15 18:06] bmichotte commented on #295
I'll release it tonight if I can finish this

![capture d ecran 2016-04-15 a 20 05 43](https://cloud.githubusercontent.com/assets/235510/14570609/79aacda6-0345-11e6-959e-40e6b77a33ac.png)

[2016-04-15 18:07] ytbewhitebox opened #332 "[Bug] Positions of cardcount icons faulty when in two display mode Pt. II (2nd Screen)"
So here is the situation on my second screen (wacom cintiq 13 HD @ 1080p):
If start hearthstone and put it onto my 2nd screen it looks like this when HSTracker satarts:

![d95d3cf2-0250-11e6-84ff-57e77973e790](https://cloud.githubusercontent.com/assets/18236776/14570607/77b59d50-0345-11e6-8765-4bfcb890d7ca.png)

After I deactivate and activate the "auto tracker position" in the preferences menus,

[2016-04-15 18:09] ytbewhitebox commented on #295
Very nice!
Keep up the good work, cant await it!

[2016-04-15 19:15] theStereo opened #335 "Hearthstats decks won't import, HStats button greyed out"
Installed the Beta today (Version 0.16 (633)) and am unable to import my Hearthstats decks. Originally, I opened the deck tracker and clicked the Hearthstats button which allowed me to sign in, and confirmed that I was now connected. However no decks show up in the list, and the HStats button is now greyed out and I can't sign out and sign back in or make any changes.

I also tried manually adding

[2016-04-15 19:18] theStereo opened #336 "Can't manually reposition tracker or counter windows"
In the previous version of HSTracker, you could move the tracker and counter windows around manually when not in "Automatically Reposition" mode. This was good for me since I could still play full screen, and put the deck tracker windows on my second display. It doesn't appear that I can manually reposition them now though.

[2016-04-15 22:23] ytbewhitebox opened #337 "Deck Manager Database – Dropbox / iCloud integration"
Hey there,

since I do have multiple Macs, it would be nice / helpful to set a copy of an existing deck backupfolder to dropbox or icloud and automatically search and sync to it? I don't know if this feature is wanted, but since not everybody would want a hearthstats account it may be a possible alternative. Since it only needs txt files for it, it would be a nice idea to have in mind.

Kind Regar

[2016-04-15 22:56] ytbewhitebox opened #338 "[Request] Secret helper advancement"
I think, it would be nice for noobs, to see the secrets card text by hovering.

[2016-04-15 22:58] ytbewhitebox opened #339 "[Request] Card text revealed by hovering over tracker window"
It would actually be nice to have card text by hovering over a card name, in the trackers decklist, again.
At the Player and the Opponent tracker, too.

Kind Regards!

[2016-04-16 03:15] givemelove opened #340 "[Bug] Menubar decklist won't refresh"
Version 0.16 (633)

Looks like the menubar decklist won't refresh when new decks are added.

Just tried adding manually a deck and saving it (saved on Hearthstats as well). Looks like the deck got saved properly since I've been able to select `Use deck` from the Deck Manager. With that being said, the menubar list of decks has not been updated.

Looks like we need to call a refresh on the menubar

[2016-04-16 03:17] TickMan commented on #278
My apologies for not trying the Beta sooner... but yes, still there:

![hand](https://cloud.githubusercontent.com/assets/7900532/14578376/73d35808-033b-11e6-9b84-e13c974f43fb.jpg)

While I'm at it, here are some observations from my first few games (using 0.16.633 Alpha 1 on OSX 10.10.5):

1) When you "Choose" the Hearthstone directory, it shows you as having selected the Logs directory (no functi

[2016-04-16 12:48] bmichotte commented on #337
You can easily do it by changer the "deck folder" to your dropbox/drive/icloud drive

(note that atm, you'll have to move manually your decks.json file which is in the default directory)

[2016-04-16 12:55] ytbewhitebox commented on #337
Did that already ;)

Thought about a more userfriendly way!

Kind Regards!

[2016-04-16 16:15] asiertejada commented on #293
Next iteration:

* Frame shadows improved.
* Mask from the cards used (it's a great way to improve legibility).
* New gradients (most of them still in progress, colors, transitions, etc.) in order to use the same class color as in the filter buttons.

Hope you like it.

![](http://i.imgur.com/dELBPlp.png)

[2016-04-16 19:28] BlazeBlaster commented on #278
@bmichotte Hi, I'm sort of new to this and was trying to compile the app but I get a dependency error for MASPreferences and JNWCollectionView, how would I include these files?

![screen shot 2016-04-16 at 3 27 13 pm](https://cloud.githubusercontent.com/assets/17521301/14583184/e7cfb1b4-03e7-11e6-8341-48efd0084cb9.png)

[2016-04-16 19:44] bmichotte commented on #278
@blazeblaster did you "carthage update --platform osx " before that ?

[2016-04-17 07:40] bmichotte commented on #338
"duplicate" of #339

[2016-04-17 07:40] #338 closed

[2016-04-17 07:41] #339 closed

[2016-04-17 07:42] bmichotte commented on #332
This should (maybe) be fixed by next version (coming today (probably))

[2016-04-17 07:44] bmichotte commented on #313
This should be fixed by the correction of #332

[2016-04-17 08:02] ytbewhitebox commented on #332
Can't wait! I am thrilled about the new candidate!

[2016-04-17 12:36] #340 closed

[2016-04-17 14:06] asiertejada commented on #293
![](http://i.imgur.com/6WYOq7t.png)

Another small iteration:

* Deck stats block redesign using the actual stat bars (see attached GIF below)
* Some UI suggestions (see attached picture below)

![](http://i.imgur.com/ORX6KwT.png)

![](http://i.imgur.com/QpnIydy.gif)

[2016-04-17 14:30] bmichotte commented on #278
sunday release ! https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.681

[2016-04-17 17:07] ytbewhitebox commented on #278
Saw it, and well, that is a very huge step!
Thank you for this nice Sunday!

Feedback coming soon!

[2016-04-17 20:24] ytbewhitebox opened #342 "[Request] [Deck Manager] "Create a new deck" PopUp (optimization)"
- [ ] When the user clicks on the new deck button (without filtering a class before) the following popup should at least (pre)choose a class (A->Z) for speeding up the creation progress. Maybe the keys "Up  Arrow" and "Down Arrow" can help choosing the classes from the list without using the mouse?

- [ ] When in Deck manager, after filtering the decklist per class, it may be obvious that the user

[2016-04-17 20:33] ytbewhitebox opened #343 "[Request] [Deck Manager] Enabling ⌘ + W in "Edit Deck" dialog and "Deck manager""
- [ ] It would be very nice to close the "Edit Deck" window with system shortcut for closing a window:
⌘ + W should trigger the cancel (or close window) button to give the user the option to cancel or accept to close the window (without saving changes). ESC does already trigger the cancel button.

- [ ] ⌘ + W does not work when the user wants to close the Deck manager Window.

[2016-04-17 20:39] ytbewhitebox opened #344 "[Request] [Deck Manager] Repeat the name of a Deck when the user wants to delete it"
- [ ] It would be better - while deleting a deck - to insert/repeat the deckname (the user selected) in this Dialog. This would prevent mistakes in the deletion processes.

![bildschirmfoto 2016-04-17 um 22 35 15](https://cloud.githubusercontent.com/assets/18236776/14589862/f39f2ab4-04ec-11e6-8be9-35c181964283.png)

[2016-04-17 20:49] ytbewhitebox opened #345 "[Request] [Deck Manager] Deck sorting in Deck Manager window"
Sorting of Decks created in the Deckmanager would be more neatly arranged and faster to find if the user can choose between sorting them by:

- [ ] Class (and then Deckname from A to Z)
- [ ] Deckname from A to Z
- [ ] Creation-Date and -Time.

[2016-04-17 20:53] ytbewhitebox opened #346 "[Request] [Deck Manager] Enabling undo and redo in "Edit Deck" dialog"
- [ ] Undo and Redo per ⌘ + Z and ⌘ + Shift + Z is definitely needed!

- [ ] Would be at best with 20 – 30 increments of re- and undo (since there is a 30 Card count, 30 is the better choice)

[2016-04-17 20:59] ytbewhitebox opened #347 "[Request] [Deck Manager] Card Search dialog focus on click in "Edit Deck" dialog"
It would be nice, if the user clicks into the search field (Edit Deck dialog) and the whole text gets marked and is ready to be overwritten. So the user can immediately enter the next search term. (#323 first point but now for clicking)

[2016-04-17 21:07] ytbewhitebox opened #348 "[Request] [Deck Manager] Visual feedback when adding a card in "Edit Deck" dialog"
- [ ] A visual feedback is needed, when adding a card to the decklist. While I had long decklists in a small window, i had to check if the card was added sometimes. Because of missing window-focus.
- It would be nice, when the added card in the Decklist on the right would be focussed and scrolled to when the card is added: The card is added and 7 mana -> The List scrolls down. If the mana cost is

[2016-04-17 21:13] ytbewhitebox opened #349 "[Request] [Deck Manager] Saving a Deck is not possible with Return- or Enter-Key"
Saving a Deck is not possible with Return- or Enter-Key after typing a deckname into the textbox. Instead the Deckname gets focussed. ESC cancel works like a charm.

![bildschirmfoto 2016-04-17 um 21 20 02](https://cloud.githubusercontent.com/assets/18236776/14590064/dc240fc6-04f1-11e6-89ee-5d7b595b103e.png)

[2016-04-17 21:24] ytbewhitebox opened #350 "[Request] [Deck Manager] [BUG] After saving the first Deck Saving dialog reappears when a new deck should be saved per ⌘ + S"
A bit complicated but ill try to reconstruct it fast.

I create a deck and save it.
I create a second deck and when i want to save it with ⌘ + S then the dialog of the first deck opens again (even if it was closed before) and wants to be saved. The second Deck could only be saved with the save button in its own window, not with ⌘ + S.

The same problem reappears when in Deck Manager window, after

[2016-04-17 21:27] ytbewhitebox commented on #345
Sorting of Decks created in the Deckmanager would be more neatly arranged and faster to find if the user can choose between sorting them by:

- [ ] Class (and then Deckname from A to Z)
- [ ] Deckname from A to Z
- [ ] Creation-Date and -Time.

[2016-04-17 23:28] asiertejada opened #356 "Warrior class button in deck manager still broken"
I think it was already mentioned in another issue before that seems to be closed.

![](http://i.imgur.com/8mia8sO.png)

[2016-04-18 06:12] #356 closed

[2016-04-18 06:23] ytbewhitebox commented on #336
You can by freeing them in the windows menu -> unlock windows.

[2016-04-18 06:47] ytbewhitebox opened #357 "[Request] Ask for quitting HSTracker after quitting Hearthstone"
- [ ] A function would be nice, that asks you if you want to close / quit HSTracker when Hearthstone is closed. This would add some positive and mindful User Experience.

[2016-04-18 07:51] cmario92 opened #359 "Auto-generate a deck when creating a new deck in deck manager"
Is there a chance a deck can be auto generated when user is in Deck Manager and Hearthstone is kept open in the 'My Collection' page?

This will perfect HSTracker from the functionality perspective, as everything else is working sweet!

[2016-04-19 05:08] asiertejada commented on #293
Filter buttons working on my custom build:

![](http://i.imgur.com/bcK6eX2.gif)

[2016-04-19 13:47] ytbewhitebox opened #360 "[Request] [Deck Manager] Create a new Deck with ⌘ + N"
In addition to #342 it would be nice if the user could simply and fast add a new deck per systemwide shortcut ⌘ + N.

[2016-04-19 13:49] ytbewhitebox commented on #332
Update: Still faulty Card-Icons while using HSTracker on the second screen or using it on the mainscreen and clicking on the second.

[2016-04-19 18:47] bmichotte commented on #359
duplicate of #58, it's planned for 0.18 (maybe 0.17 if everything goes fine!)

[2016-04-19 18:47] #359 closed

[2016-04-20 07:57] hagehun commented on #278
When I made a deck in the tracker the undo/redo edit menu items were blank. Even after I deleted a card from the deck and wanted to undo it I couldn't.
Also a help menu would be lovely like sad earlier.

[2016-04-20 10:05] strages commented on #278
hi awesome work on this!

1. what about using a miniature coincard for the coin?
2. importing from game, does that also mean generating decks when drafting an arena deck?

[2016-04-20 19:12] #343 closed

[2016-04-20 19:12] #344 closed

[2016-04-20 19:12] #349 closed

[2016-04-20 19:12] #360 closed

[2016-04-20 20:10] Mord3th commented on #278
@bmichotte I managed to export text listings of my decks (and made a HearthStats account/uploaded them there), but is there a documentation on the statistics format for decks.json so I can include my stats from the previous 0.13 (474) build?  On a few of these decks, I have a lot of games in the stats, and would hate to lose this.  I don’t mind hand-editing JSON.  Thanks in advance!  :+1:

[2016-04-20 20:25] bmichotte commented on #278
@Mord3th `statistics` is an array with this form

(without the comments of course)
[code]

Don't worry, your actual database will not be deleted (I'll write some faq about it later), and I plan to give a quick command line tool to migrate old stuff to new one

[2016-04-20 20:46] Mord3th commented on #278
I see, so the statistics prior to this are only in a database if I wasn’t using HearthStats? Or are they in some other file?

[2016-04-20 20:49] bmichotte commented on #278
yep, in the current stable version, they are saved in `~/Library/Application Support/be.michotte.hstracker/i_dont_remember_the_filename_right_now.sqlite`

[2016-04-21 09:30] ARoman89 commented on #278
Hi, bmichotte.

Are you thinking on implement stats in the HSTracker? If not, is it possible to see the stats for each deck and not only for class from HearthStats?

Thanks a lot, really good job!!!

[2016-04-22 07:45] bmichotte commented on #278
@ARoman89 stats are already saved in the app, I'll add a UI for them in 0.17

[2016-04-22 10:24] ARoman89 commented on #278
@bmichotte It works with decks created with the HSTracker or can see stats with HearthStats import decks also? I didn't found it so.

Thanks.

[2016-04-22 11:39] bmichotte commented on #278
@ARoman89 atm they are only saved internally, nothing visible yet

[2016-04-23 00:59] chenchaso opened #362 "Tracker not fading"
When I play cards its not fading the ones on my list.

[2016-04-23 16:58] #278 closed

[2016-04-23 16:58] #295 closed

[2016-04-23 17:00] bmichotte commented on #332
I know what's cause this, but did not find the cause nor the resolution. I'm closing this one because it's the same error than #313

[2016-04-23 17:00] #332 closed

[2016-04-23 17:00] bmichotte commented on #313
FYI, the problem is described in http://stackoverflow.com/questions/36766266/nswindow-positioning
Still searching for a solution

[2016-04-23 17:01] #245 closed

[2016-04-23 17:01] bmichotte commented on #245
Should be corrected by 0.16. If not, please open a new issue !

[2016-04-23 17:09] bmichotte commented on #362
What version do you use ? 0.13 or 0.16 beta ?

[2016-04-23 17:10] bmichotte commented on #240
I removed those notifications from HSTracker in 0.16 (there are new ones), so I close this issue

[2016-04-23 17:10] #240 closed

[2016-04-24 00:39] TickMan opened #363 ""Opponent In-Hand HUD" icons are improperly-spaced if..."
...the user's display doesn't have the same aspect-ratio (16:10) as Benjamin's MacBook.  😜

A wide (16:9) display makes them slightly "over-spaced", and a narrow (4:3) display makes them extremely "under-spaced".

![opponent in-hand hud](https://cloud.githubusercontent.com/assets/7900532/14764713/efb110f0-0976-11e6-971e-8fc43874fc84.jpg)

As mentioned in #245, the **_width_** of the "spacing" shou

[2016-04-24 00:42] TickMan opened #364 ""Show Card on Hover" shouldn't be affected by Tracker opacity..."
...or you get things like this.

![opacity](https://cloud.githubusercontent.com/assets/7900532/14764817/a3d6574a-097a-11e6-8c6d-1211f262483b.png)

-TM

[2016-04-24 00:59] TickMan opened #365 "Importing "From Hearthstats" only retrieves recently-used decks."
Presumably blocked by **Hearthstats'** automatic "archiving" of decks that haven't been played in the past week... but since I didn't have this issue with v0.13, I'm guessing that either **HSTracker** or **Hearthstats** has changed "something".

¯\\\_(ツ)_/¯

-TM

[2016-04-24 06:50] bmichotte commented on #364
This is _funny_ because it should not happen :), this hud should stay transparent...

[2016-04-24 10:31] TickMan commented on #364
Yeah, I just realized that blaming it on the "opacity" preference was presumptuous of me... since that black border remains even if I eliminate the Tracker's opaqueness.

So, I guess "Show Card on Hover" **_does_** successfully ignore changes in opacity... just not in favor of transparency. 😜

-TM

[2016-04-24 10:49] bmichotte commented on #364
Do you have a Retina screen ?

[2016-04-24 12:09] TickMan commented on #364
Kind of the opposite... I'm **_Rocking it Old School_**™:

![system](https://cloud.githubusercontent.com/assets/7900532/14767326/8db1904e-09d7-11e6-81de-4283e2ec30f6.png)

For what it's worth, this issue doesn't affect the "Timers" or the "Secret Helper"... only "Show Card on Hover".  ¯\\\_(ツ)_/¯

Speaking of that, there's also a somewhat-related bug... the "Opponent In-Hand HUD" will transfer a "

[2016-04-24 16:54] offscientist opened #366 "HSTracker Not tracking correctly"
Thanks you for all the great work and the application.

I originally had version .13, a long time ago, when I was playing frequently.  This morning I tried updating from .13 to .16 directly from the menu option however it would never update completely.  It would download and then fail to install.  I then uninstalled version .13 and downloaded version .16 and following the instructions I unzipped t

[2016-04-24 17:09] bmichotte commented on #366
Are you sure you selected the right folder for Hearthstone ?

[2016-04-24 17:11] offscientist commented on #366
Right now I have selected for Hearthstone Directory:  /applications/hearthstone/logs

[2016-04-24 17:17] bmichotte commented on #366
could you open a terminal and type
ls /Applications/Hearthstone then enter
Do you see some files or an error message ?

[2016-04-24 17:20] offscientist commented on #366
I see some files after entering that the command "Is /applications/Hearthstone"

[2016-04-24 19:00] luneaux commented on #366
- Change the directory to the HS Logs folder: "/Applications/Hearthstone/Logs/Logs"
- Restart HSTracker, change the directory back to HS's main folder: "/Applications/Hearthstone/Logs"

[2016-04-24 19:10] offscientist commented on #366
Changing between "/Applications/Hearthstone/Logs/Logs" and "/Applications/Hearthstone/Logs" did not resolve the problem.

[2016-04-24 21:10] yndara opened #367 "Can't upgrade to 0.16 from within 0.13"
I just got the Software Update dialog telling me 0.16 was available (although the text said 0.16 and the new version # said 0.14.1, just FYI).

I told it to update. It said it was downloading. I said Install and Relaunch when it finished.

I then got this error:

Update Error!
An error occurred while extracting the archive. Please try again later.
Cancel Update

Any hints? I could download 0.16 di

[2016-04-24 21:35] moraesf commented on #366
I am having the same issue. I see the log files there but no  tracking done.

[2016-04-25 03:18] sphinxa1 commented on #366
I'm having the same problem with not being able to get tracking
 i get this message on console:
4/24/16 6:44:23.605 PM HSTracker[11272]: [HockeySDK] -[BITCrashManager invokeDelayedProcessing]/907 INFO: Start delayed CrashManager processing

[2016-04-25 05:38] ausgop commented on #335
Having the same issue on 10,11.4.  I was able to seemingly import once, but had to relaunch because the tracker never appeared.  On relaunch, no HearthStats decks and the button was greyed out.

[2016-04-25 08:20] bmichotte commented on #367
There is a problem I can't figure with the secure certificate for update.

You can direct download the file from https://rink.hockeyapp.net/apps/f38b1192f0dac671153a94036ced974e/app_versions/24

(This is 0.14, which is a transition version used only to migrate your decks to the new format. You'll be then prompted to download the 0.16)

[2016-04-25 10:18] chrischtili opened #368 "Deck link import does not work"
Unable to import a  deck via deck link
<img width="532" alt="bildschirmfoto 2016-04-25 um 12 18 14" src="https://cloud.githubusercontent.com/assets/4641474/14780960/d56d12c4-0adf-11e6-84ae-793bc31258a1.png">
. Clicking Ok-Button does nothing.

[2016-04-25 10:39] bmichotte commented on #368
Here, the deck is imported :/

Could you please open a Terminal (Applications -> Utilities -> Terminal) then type
`/Applications/HSTracker.app/Contents/MacOS/HSTracker` then enter (check the path if HSTracker is not in /Applications)

And try again to import your deck. Then, check your terminal and paste any content here.

[2016-04-25 10:49] chrischtili commented on #368
`ChristiansiMac7:~ christian$ /Applications/HSTracker.app/Contents/MacOS/HSTracker
2016-04-25 12:48:03.733 HSTracker[8786:1468171] [HockeySDK] -[BITHockeyManager startManager]/198 INFO: Starting HockeyManager
2016-04-25 12:48:03.733 HSTracker[8786:1468171] [HockeySDK] -[BITHockeyManager startManager]/203 INFO: Start CrashManager
2016-04-25 12:48:03.733 HSTracker[8786:1468171] [HockeySDK] -[BITCras

[2016-04-25 11:06] bmichotte commented on #368
Ok, got the error. it's corrected and will be available in the next release (later today)

[2016-04-25 11:34] offscientist commented on #366
Uninstalled version .16 and reinstalled version .14 unfortunately .14 did not work either.

[2016-04-25 12:59] yndara commented on #367
Thanks, I will give this a try later today.

[2016-04-25 15:35] bmichotte commented on #366
With 0.16, could you
1) make sure you select The right Hearthstone folder (not logs)
2) close hstracker and hearthstone
3) delete ~/Library/Preferences/Blizzard/Hearthstone/log.config
4) restart HSTracker
5) restart Hearthstone

[2016-04-25 16:35] offscientist commented on #366
I cannot find ~/Library/Preferences/Blizzard/Hearthstone/log.config.  My library shows up as /library/application support/blizzard/hearthstone/

[2016-04-25 16:37] NonTeoh commented on #366
i'm having the same problem. i have followed your steps 1-5 but no dice.

maybe i'm not understanding what u mean by selecting the right hearthstone folder. do you mean where i place the HSTracker application? or something within the HSTracker application itself?

I've found and deleted log.config several times but to no avail.

[2016-04-25 16:40] simtsang commented on #366
I'm having the same issue too, can't track anything, so I just follow all the step recommend by bmichotte, and now the apps popup the notice as below, nothing happen even I keep try the reopen button.

HSTracker quit unexpectedly
Click Reopen to open the application again. Click Report to see more detailed information and send a report to Apple.

I try to select the Hearthstone folder in the apps,

[2016-04-25 18:25] #365 closed

[2016-04-25 18:25] #368 closed

[2016-04-25 18:31] bmichotte commented on #366
@simtsang Could you open a terminal and type `/Applications/HSTracker.app/Contents/MacOS/HSTracker` then enter. Then, try to play and check if you have some logs in your terminal, it could help !

I have changed this (for the next release) as it cause troubles.

@NonTeoh you have to select the folder where your Hearthstone.app is (not HSTracker). If you use default battle.net installation, it's /A

[2016-04-25 19:28] xelnod opened #369 "Version 0.16 does not track coin"
I updated to v 0.16 today and didn't see coin in opponent tracker while tested it, is this a feature? Can we have an option to track coin, like it was in 0.13?

[2016-04-25 19:30] xelnod opened #370 "Opponent Deck Tracker does not clear when the game is over"
I remember that opponent deck tracker used to hide when opponent conceded or did lethal, and it was very convenient since it made possible to know that the game is actually over before you saw all the animation. Is there an option to have such behaviour in 0.16?

[2016-04-25 19:44] bmichotte commented on #369
Actually, it's not some kind of feature... just a bug...
Will check it for next release

[2016-04-25 20:03] xbjconan opened #371 "Not tracking at all in 0.16(722)"
Hi

After install the new 0.16 version, my tracker does not track at all in any way. It seems after upgrade to 0.16 I am the only one reporting this problem. So I am wondering if there is a specific path of hearthstone directory to set in the preference, since I am installing the new one rather than upgrading and I totally forget how to do that.

Best

Chen

----------------------------
All right,

[2016-04-25 20:09] xbjconan commented on #371
#

[2016-04-25 20:09] #371 closed

[2016-04-25 20:18] #369 closed

[2016-04-25 20:59] fmoraes74 commented on #366
I set the folder to /Application/Hearthstone and it all looks ok, but next time I check it has been changed to /Application/Hearthstone/Logs. Is that expected/correct?

[2016-04-25 21:44] offscientist commented on #366
Update.
Downloaded version .16 (731).  I was unaware I had to show "hidden folders" to find ~/Library/Preferences/Blizzard/Hearthstone/log.config.  Once I figured this out I deleted the file in question and the tracker started to work.  Thanks again.

[2016-04-25 22:29] jpalermo commented on #367
I think I've put myself into a bad state. I tried to upgrade, had the problem, the installed 0.16 manually and didn't get any of my decks. I can install 0.14 and see all my old decks, but it does not prompt me to upgrade to 0.16.

Which files do I need to delete to convince it to upgrade and import my decks?

[2016-04-25 23:09] Mord3th opened #374 "exporting 0.13 sqlite stats to 0.16/HearthStats"
Was 0.13 supposed to take its stats with it when updating to the final of 0.16, or is this still going to take a tool?  I hadn’t set up HearthStats until playing with the 0.16 beta, and would like to import my stats from 0.13 into both HearthStats and 0.16.  I tried moving the preference files created by 0.16 aside and using Time Machine to restore my 0.13 files, but in the end, had to import my d

[2016-04-26 04:08] pedrogrijo opened #375 "Class cards not appearing on edit deck screen (version 0.16)"
Class cards won't show when searching, am I missing something?

[2016-04-26 05:07] mayagamer commented on #268
The link on my last post is outdated.
Let me explain. It's when you building your deck in Collection, the HS tracker is able to remember your deck. On the other hand, When you start an Arena game, it can read the data from server, and shows the deck you has chosen.

[2016-04-26 07:10] afeilulu opened #377 "how to hide draw turn information"
![image](https://cloud.githubusercontent.com/assets/2390249/14809580/97100630-0bc0-11e6-8a5d-0e03080cc8b5.png)

Appreciating your great work firstly.It's best tracker on Mac.

But, is there a way to turn off draw turn information like picture shown above? Sometimes people would like to make UI cleaner and simpler especially to me ^_^.

[2016-04-26 07:39] Pawdan opened #378 "Card images won't download"
After updating (manually) to 0.16 the card images won't download. The blue box opens it says it is downloading .png files but it never finishes. I left my computer on over night but no difference.

[2016-04-26 08:17] TickMan commented on #377
That would be unchecking: **Preferences --> Trackers --> Show opponent in-hand huds**

![hud](https://cloud.githubusercontent.com/assets/7900532/14811351/95020d1c-0b4c-11e6-9d0f-f3cb738dcf1a.png)

Enjoy!

-TM

[2016-04-26 08:25] TickMan commented on #375
Do you have a specific example we could attempt to "reproduce"?

This is what happens when I start a Druid deck and search for "moon":

![moon](https://cloud.githubusercontent.com/assets/7900532/14811570/813c27a8-0b4d-11e6-8227-63ce83be7c4d.png)

Good Luck!

-TM

[2016-04-26 08:58] afeilulu commented on #377
Yes, I found that option. But it don't work for me.

I have tested in game. After unchecking "Show opponent in-hand", the huds did not hide as timer option do. Even after restarting HSTracker, this option become checked again. It should be a bug, I think.  Or, this situation just happened to me?

My RMBP information and it is in Chinese.
![image](https://cloud.githubusercontent.com/assets/2390249/

[2016-04-26 08:59] bmichotte commented on #377
nope, looks like I messed something with this one. I'll check it

[2016-04-26 09:00] bmichotte commented on #378
That's strange. If you close HSTracker and restart it, it should try again to download images.
Could you try again ?

[2016-04-26 09:05] Pawdan commented on #378
I just restarted it again and the same situation arises. Before I did that it had been downloading for about a hour and it reached maybe 10% of the images.

Thanks for your reply and a great app! A lot of kudos to you!

[2016-04-26 09:58] jpalermo commented on #367
Current behavior:
I'm on build 481.
I run `defaults delete be.michotte.hstracker migrate_to_016`
I open 481 and it prompts me to upgrade to 0.16 and I click upgrade.

At this point it just hangs and does not seem to be doing anything.

[2016-04-26 11:34] xelnod commented on #375
Had the same issue when tried to edit an existing deck and was searching for Mal'Ganis, that I accidently removed from deck. Hope it could be of some help.

[2016-04-26 12:51] pedrogrijo commented on #375
The problem is what xelnod stated. When I try to edit an EXISTING deck, i can't find any class cards whatsoever.

[2016-04-26 13:00] bmichotte commented on #375
Could you open Finder, type ⌘⇧G and type ~/Library/Application Support/HSTracker/cards
Do you have something like 889 files ? (cards)

If not, what are your preferences (hstracker locale and hearthstone locale) ?

[2016-04-26 13:05] xelnod commented on #375
Just did it:
1) No — got only 745.
2) English, English (U.S.)

[2016-04-26 13:15] pedrogrijo commented on #375
I have nothing down that path, but deleting the app and "installing" it again seems to have solved the problem. Anyway, here it is:

<img width="661" alt="screenshot 2016-04-26 10 14 52" src="https://cloud.githubusercontent.com/assets/6875355/14819287/c3a49f04-0b97-11e6-98ee-d24223186970.png">

[2016-04-26 15:15] bmichotte commented on #375
I also found another issue I'll correct for The next version, when you use card type select and go back to all, The type never reset and you don't see anymore cards

[2016-04-26 16:49] simtsang commented on #366
@bmichotte

Updated, and type the command already, result display
-bash: /Applications/HSTracker.app/Contents/MacOS/HSTracker: No such file or directory

and still can't see any tracking action, Reinstalled, but still error, any advise?

[2016-04-26 18:07] #377 closed

[2016-04-26 18:07] bmichotte commented on #375
This could be corrected by 7ee79d5ff5bb660a268fde5f4c58c6185092bc8d

[2016-04-26 18:52] #370 closed

[2016-04-26 18:57] bmichotte commented on #374
Your stats should be in 0.16 data, they are just not visible yet, a (better) stats window will be reimplemented soon.
To be sure, could you check in the decks.json file (~/Library/Application Support/HSTracker/decks/decks.json), you should find something like this

[code]

If you see the `statistics` with some contents on it, you are fine :)

[2016-04-26 19:03] bmichotte commented on #367
@jpalermo did you come to something ?

[2016-04-26 21:25] jpalermo commented on #367
Still can't get it to upgrade.

[2016-04-26 21:33] Roxatha commented on #375
@pedrogrijo I tried that, and nop didn't work for me, was working fine this morning and now not...745 card only...it is weird

[2016-04-26 21:43] mjgold opened #379 "Cards not being tracked during game"
Hey Benjamin, congrats on the new HSTracker! It looks beautiful and I'm excited to use it with the new expansion.

I've installed 0.16 (731) on my Macbook Air (El Capitan vesrion 10.11.4) but when I play a game, cards are not being tracked as they are dealt (i.e. they are not fading). I've tried restarting and launching HSTracker before and after Hearthstone and that didn't help.

Any ideas on wha

[2016-04-26 21:56] mjgold commented on #379
Nevermind, somehow the tracker now started working! Closing this issue.

[2016-04-26 22:30] BigPotatoPeng commented on #289
I have the same problem with you. When open it, a window jump out and shows downloading some flies then the window disappear and nothing happen

[2016-04-27 05:03] mjgold commented on #379
Unfortunately this issue is back. Any thoughts?

[2016-04-27 05:08] vinterskugge opened #380 "Cards stay onscreen when hovered over"
When hovering over a card on a tracker, it's sometimes impossible to get them to disappear from the screen without starting.  Even if hover is disabled, this sometimes still occurs.

[2016-04-27 15:37] NeLaurynas commented on #378
It seems images are getting downloaded unbelievably slowly.

[2016-04-27 16:25] xbjconan commented on #379
Me too and I am also having the deck build image loading problem as in other issues. Probably it's better to wait for the next version to come.

[2016-04-27 17:07] occurrence opened #381 "Hiding dice"
Hi, I had trouble updating the hstracker, so I had to install the new version manually. Now the dices with chanse is showing under both trackers. I cant find a way to hide it. I have tried the different options under preferences, Trackers.

[2016-04-27 18:37] bmichotte commented on #381
You will be able to hide them in preferences -> trackers in the next release !

[2016-04-27 18:38] occurrence commented on #381
Ok, thank you :)

[2016-04-27 18:39] bmichotte opened #382 "C'Thun / Yogg-Saron counters"
They will come soon !

[2016-04-27 18:40] bmichotte commented on #379
Duplicate of #366, the next release should help (hopefully)

[2016-04-27 18:40] #379 closed

[2016-04-27 18:41] bmichotte commented on #366
In the next release coming tonight (nearly 9pm here), I added some stuff which should help (hopefully).
Btw, please update as soon as possible (when the update will be available) and let me know if it helps

[2016-04-27 18:43] xelnod opened #383 "Can't see my opponent's name due to opponent tracker"
Hello.
I got MacBook 13" with retina and settings that state «Scaled: looks like 1680×1650» and the new style of opponent tracker makes it impossible for me to see his name. Maybe, there could be an option to set something like margin-top for opponent's tracker?

[2016-04-27 18:47] bmichotte commented on #367
@jpalermo ok, could you try this
- delete `~/Library/Application Support/HSTracker`
- run `defaults delete be.michotte.hstracker migrate_to_016`
- restart .14
- choose to migrate
- quit HSTracker
- check if `~/Library/Application Support/HSTracker/decks/decks.json` exists
- download .16 from https://rink.hockeyapp.net/apps/2f0021b9bb1842829aa1cfbbd85d3bed
- install, launch, pray !

[2016-04-27 18:49] bmichotte commented on #383
I'll add this in a future release, meanwhile, as a workaround, you can uncheck `auto position` and move the trackers manually

[2016-04-27 19:19] jpalermo commented on #367
When I choose to migrate, the app crashes. Could this be related to the fact that I have multiple decks with duplicate names (for different classes)? Such as a Warrior and a Priest deck both named "Reno".

[2016-04-27 19:24] #381 closed

[2016-04-27 19:34] bmichotte commented on #367
Don't think it can change something. Could you send me you hstracker.sqlite (from `~/Library/Application Support/be.michotte.hstracker`) at bmichotte at gmail dot com ?
Hopefully, I'll find the issue (or send you your decks.json ^^)

[2016-04-27 20:27] jpalermo commented on #367
Sent. Thanks.

[2016-04-27 22:32] Roxatha opened #384 "Obs + HStracker = no showing."
In the 0.13 when i used HSTracker while recording or streaming it worked like a charm, as it was recognize as a window. Since 0.16 update didn't tried it, but today I decide to record a few games and can't manage to find them, as it doesn't show as window...

[2016-04-28 00:22] pedrogrijo commented on #383
I have auto position unchecked and can't find a way to move the trackers(mine and opponent's). There's nothing but transparent frames i can't drag+hold.

13", 1280x800

[2016-04-28 00:42] xelnod commented on #383
@bmichotte thanks! You're the best.
@pedrogrijo probably, you should uncheck «Lock Windows or smth like that» option in Window menu at the top panel.
While we are at it, I'd like to point that it would be nice to have a keyboard shortcut for it.

[2016-04-28 00:55] pedrogrijo commented on #383
@xelnod nice catch, thanks!

[2016-04-28 02:29] Unreal011 commented on #366
Running .16 and having the same issue with no tracking.  Ran the terminal to see if I could see anything come up in the logs, HS game was not open when starting, opened HS, then played one game, I swapped back and forth looking at the terminal every once in a while which shows up but noting other than the initial opening of the HS game from what I can see.  Hope this helps.
[terminal log.docx](htt

[2016-04-28 03:19] goldenlimit opened #385 "Tracker not work on mac 10.11.4"
<img width="1438" alt="screen shot 2016-04-27 at 8 20 46 pm" src="https://cloud.githubusercontent.com/assets/5265346/14874459/3c4388d0-0cb5-11e6-9142-1d0524051c1b.png">

[2016-04-28 04:13] Pawdan commented on #378
I believe that the download finishes now but there are no images in the deck manager.

[2016-04-28 07:24] kholbekj commented on #385
Experiencing the same, i can make decks, select them, but they don't seem to respond in any way to HS activity

[2016-04-28 10:18] AndyJordan commented on #385
Same problem on 10.10.5

[2016-04-28 13:28] fmoraes74 commented on #366
I tried the latest version with a Tavern Brawl and it successfully tracked the cards. I will try a normal game when I have time.

[2016-04-28 14:59] xbjconan commented on #366
I've tried the 0.16 (749) version. It still does not track...I am not a coder, so I just screenshot the image I got here.
![screen shot 2016-04-28 at 09 58 24](https://cloud.githubusercontent.com/assets/7388061/14890331/cb513cb2-0d27-11e6-8055-c8c0b87d5b2c.png)

[2016-04-28 15:43] simtsang commented on #366
@bmichotte

Thanks for your prompt reply, but the tracker still can't work properly, nothing happen even after update to the latest version.

Beside, when I open deck manager and try to select a deck to play, the button of "use deck" have no response. Not sure is that relative to the error.

Anyway, look forward to the answer.

[2016-04-28 18:00] occurrence opened #388 "HSTracker keeps crashing after update"
I just installed the new udpate and it keeps crashing as soon as I try to manage my decks or make any changes.

[2016-04-28 18:05] bmichotte commented on #382
closed by 44f9e05f20c44fa93f941eaa47d1ad61c3e9f514

[2016-04-28 18:05] #382 closed

[2016-04-28 18:33] bmichotte commented on #388
Could you send your decks.json (using something like http://pastebin.com/ )

(to find your decks.json, open hstracker preferences, select the content of the "backup deck directory", open finder and go to this folder using cmd-shift-G)

[2016-04-28 18:36] bmichotte commented on #385
Closing in favor of #366

[2016-04-28 18:36] #385 closed

[2016-04-28 20:28] sayn0thing commented on #385
I can only see my deck, no activity in HSTracker, clicking on auto position trackers hides the tracker completely, opponents deck doesn't show at all

[2016-04-28 21:51] Pawdan commented on #378
Just to let you know that I have all the card images now. The new version of the app is great!

[2016-04-29 04:11] NonTeoh commented on #366
also unsure why each time i reopen HSTracker, it needs to re-download these
image files?

On Thu, Apr 28, 2016 at 11:43 PM, simtsang <notifications@github.com> wrote:

[2016-04-29 12:14] gabgl76 commented on #380
Having the same issue sometimes. does the same thing for opponent tracker

[2016-04-29 12:16] gabgl76 commented on #335
10.11.4 here also, Hearthstats is grayed out for me too. some times I am able to get SOME of my decks imported using the "Add from Hearthstats" functionnality but most of the time the deck manager forgets my decks and I have to recreate them and end up with multiple versions on hearthstats.net .

tried redownloading tracker multiple times without success :(

[2016-04-29 12:40] AdamC2700 opened #389 "HSTracker Crashes after Hearthstone becomes active window - 10.11.4"
HSTracker crashes after opening hearthstone or moving to the active window. This happens in fullscreen or windowed and after fresh install of both HSTracker and hearthstone. I am on 10.11.4. I have sent the crash report in the crash report window but I don't know how I would add that here!

[2016-04-29 13:45] ytbewhitebox opened #390 "[Bug] When language is changed back to english… Overlay Cards are still displayed in"
When the language is changed back to english… overlay cards AND the Cards in the Deckmanager are still displayed in the previous selected language.

Sorry not much time atm, so here is only one of them ;)

![bildschirmfoto 2016-04-29 um 15 42 16](https://cloud.githubusercontent.com/assets/18236776/14917784/0049d18c-0e21-11e6-996a-47726c18679a.png)

![bildschirmfoto 2016-04-29 um 15 44 38](https://

[2016-04-29 15:09] nyybatboy commented on #378
Mine is downloading very slowly as well.  Will try restarting it a few times

[2016-04-29 16:31] jmb2700 opened #391 "HSTracker will not connect to HearthStats"
Ever since I updated to the newest version I've been unable to connect to HearthStats to sync/download decks and matches.  I have tried completely uninstalling HSTracker including all logs and reinstalled from scratch and the HearthStats icon is still greyed.  I'm on OSX 10.10 right now, but have friends on OSX 10.11 who are having the same issues.  Any ideas on how to fix this problem so I can sy

[2016-04-29 16:47] bmichotte commented on #391
What you can try is to close HSTracker, open a terminal (applications -> utilities -> terminal)
and type
`defaults delete be.michotte.hstracker hearthstats_token` ENTER
`defaults delete be.michotte.hstracker hearthstats_login` ENTER

then open HSTracker and reconnect with Hearthstats...

I'll try to add some stuff on the next update to help debugging this issue (you are not the only)

[2016-04-29 18:55] TickMan opened #392 "Inexplicably "flipped" cards in the Deck Manager."
I'm not even sure how to accurately describe it (...vertical "mirroring"?):

![flipped](https://cloud.githubusercontent.com/assets/7900532/14926070/3921cffe-0dff-11e6-9431-7d58e5c5a870.png)

Only occurred once (despite my attempts to reproduce it), so I have no idea what it may have been related to... but I figured I should still mention it "just in case". ¯\\\_(ツ)_/¯

-TM

[2016-04-29 19:10] bmichotte commented on #392
GO HOME DECK, YOU'RE DRUNK !

[2016-04-29 19:45] wulala14 opened #393 "HSTracker re-download all the content every time i launch it"
Hi,

I am not sure if i installed HSTracker on my mac correctly. I first download the app then add it to "application". The HSTracker started downloading the contents after i launch the app first time. It took me about 20 mins to finish the download then it repeats the same downloading process everytime i launch the app. Can someone tell me how to resolve this?

Thanks!

[2016-04-29 21:08] nyybatboy opened #394 "Cannot get HSTracker to auto-populate decks"
I have HSTracker running before booting Hearthstone.  I have not manually added any decks.  I thought the tracker was supposed to auto-populate decklists from constructed/arena.  When I use Hearthstone as I normally would, the tracker doesn't seem to do anything.

How do I get it to auto-populate my decks?

[2016-04-29 21:19] goldenlimit commented on #385
@bmichotte Kind of follow-up about this issue, I tried your steps that you mentioned in #366 and it actually work, however, each time when a new game start, the Hearthstone app is totally frozen. I have to force quit the game and restart and sometime the tracker will work but sometime not.

[2016-04-29 21:20] goldenlimit commented on #366
@bmichotte Kind of follow-up about this issue, I tried your steps that you mentioned in #366 and it actually work, however, each time when a new game start, the Hearthstone app is totally frozen. I have to force quit the game and restart and sometime the tracker will work but sometime not.

[2016-04-29 21:33] #380 closed

[2016-04-29 22:25] mimirs opened #395 "Overlay works but nothing happens to the cards"
Hey, as the title describes everything works but the tracker doesn't register the cards as drawn. This holds for both my cards and the opponents' cards. I have no clue how to fix it I already deleted every file I could find and reinstalled the tracker.

Thanks in advance for your help!

[2016-04-29 22:54] rangersfan414 opened #396 "Decks Delete Every Time I Quit HSTracker"
I have my decks set to Library/ApplicationSupport/HSTracker/decks/decks.json

Also, my Hearthstats is grayed out and when I try to import deck from Hearthstats, nothing happens.

Additionally, since I need to recreate my deck everytime I launch the app, Hearthstats has multiple copies of each deck now.

[2016-04-30 05:26] djnym commented on #395
yeah, same thing happening to me.

[2016-04-30 09:00] bmichotte commented on #396
Could you pastebin your decks.json ?

[2016-04-30 09:22] BrainArchitect commented on #393
I get the same exact problem. The image files are not saved and are being downloaded every time. The thing is, that it takes a few hours to finish, even though I have a really fast internet connection.

[2016-04-30 13:16] gabgl76 commented on #391
I'm having the same issue. tried the terminal commands with no luck. hearthstats is still greyed out in the tracker :(

[2016-04-30 13:34] NightHacker001 commented on #395
I tried switching languages back and forth then restart, it eventually worked for me.

[2016-04-30 13:56] bmichotte commented on #393
I'm currently uploading the images on my own server and change some stuff in HSTracker to use those images. Let's hope it will be better with this server.

[2016-04-30 14:28] rangersfan414 commented on #396
http://pastebin.com/LMJ7N3Fy

It's definitely had more text than that before, but I feel like it's because it resets everytime I quit the app.

[2016-04-30 17:37] djnym commented on #395
It seems like it only works if I totally quit everything, then start hstracker, then battlenet, then hearthstone.  It used to work fine if I had hstracker running and stopped and stared hearthstone, so this seems like a regression from the older pre-swift version.  Track-o-bot seems to work fine through hearthstone restarts, so maybe it's just in the parts which watch the files.  Maybe someday som

[2016-04-30 17:56] JimmyThePenguin opened #398 "Help, I can't make the overlays work"
I am pretty new to Mac and to trackers...

I followed the instructions- I can use the Deck manager fine, but I can't get the overlays to work... any thoughts?

[2016-04-30 17:59] justpassingby commented on #395
I have the same problem basically. Decks load and the overlay shows but nothing is tracked. I have tried restarting in various orders and nothing works at all unfortunately.

[2016-05-01 00:21] tienzee commented on #398
I am having this same issue since updating. The overlays aren't working, they appeared at first, and they are no longer on screen.

[2016-05-01 02:54] JimmyThePenguin commented on #398
what do you mean: stall again from base?

[2016-05-01 05:13] MyNameIsOka opened #399 "Images don't disappear after hovering"
Hi there,

first of all, thanks a lot for this great program!
I enjoy it so far :)
However, there is one problem with the images of my deck.
After using HSTracker for some time, the images won't disappear anymore, after hovering over them.
This is kinda irritating.

Do you happen to know this problem?
Hope you guys can help me!

Thanks a lot for the time and effort put into all of this.

Regards,

[2016-05-01 05:27] tienzee commented on #398
delete everything hstracker on your computer, fresh and clean from the file. Re-Install it on your Mac and launch hstracker then launch battle.net then launch hearthstone, it should allow the overlays to work again. Make sure everything hstracker is deleted from your computer by going in to a new finder window and searching hstracker: on this mac. Worked for me

[2016-05-01 10:58] nsrafk commented on #399
I've noticed the same. for now i have just disabled the hover feature :)

[2016-05-01 13:00] ckaylinpercipio commented on #395
Was having the same issue and tried everything to no avail until the language switching suggestion. Seems to be working for me with game language set to Spanish (Mexico) with my actual logs in English.

[2016-05-01 13:11] Roninhow commented on #395
Hmm.. i tried a fresh installation by trashing all old files of the installations. I have the same problem with the Overlay. I just can see the overlay in framed screen mode. Fullscreen overlay does not work at all. Sadly nothing is moving, counting or somewhat interacting with the game. I made screenshots of and uploaded them here. [http://imgur.com/a/dJ5GJ](url)

[2016-05-01 13:14] ckaylinpercipio commented on #366
None of the steps mentioned here fixed the issue for me.  However, based on another threadI tried switching languages and setting the hstracker game language to spanish ( mexico) with my actual language in english works.  Looks like maybe the languages aren't mapped correctly.

[2016-05-01 20:40] petems opened #400 "New release seems to have broken"
See https://github.com/bmichotte/HSTracker/issues/398 https://github.com/bmichotte/HSTracker/issues/395

Same for me, I had a really old installation of HSTracker, recently downloaded the new version. Added all my cards for the deck, nothing happens in a match.

Tried deleting and re-installing several times.

@bmichotte Is there a log I can enable or something I can run to give details for debugg

[2016-05-01 22:24] Ser1aL commented on #395
Works for me. I quit HS + BattleNet + HSTracker and started in this order HSTracker -> Battlenet -> HS. Woohoo!!11

[2016-05-01 23:55] NicosKaralis commented on #391
Same problem here. I had the beta version and now I can't connect to hearthstats

[2016-05-02 12:28] Endy13 commented on #395
Same problem. Starting in the correct order solved it: HSTracker first, then battle.net and HS.

[2016-05-02 14:02] fmoraes74 commented on #366
It has been working for me. Quit everything (Battle.NET, HS and HSTracker) and start them in this order:

- HSTracker
- Battle.NET
- HS

[2016-05-02 14:42] BrainArchitect commented on #393
Although it seems that now it loads the resources faster, the problem that the resources are not saved permanently in the app, still makes me wait a lot before the app is ready to be used.

[2016-05-02 17:05] andresluuk commented on #393
I have the same issue on my iMac. I also tryed to remove the app and re-download it, but the issue still persist. It downloads slowly the same immages on every startup.
Maybe there is nightly build link to HSTracker? or some logs I can send to help you to figure out the problem?

[2016-05-02 17:42] andresluuk commented on #393
I tryed a little more. I thought maybe it is something on my machines configuration. I changed the Deck backup directory, but with no luck. But now I have also a seccond issue. The Heartstats login info button is grayed out and once I get the application running after all that downloading I can't log in there to download the decks.

[2016-05-02 18:34] andresluuk commented on #393
Ok, I think I got it working now. What I did:
I reinstalled HSTracker with no luck, then I change "Decks backup directory" then after 1-2 tries it probably managed to download the pictures. But It still downloaded 2 pictures on each run. But nothing appeared in my custom "Decks backup directory" folder :S. I thought it is still using Library/Application Support/HSTracker? Now I deleted HSTracker a

[2016-05-02 18:50] Aziz10 commented on #398
Thank you @tienzee . It worked after I followed these steps

[2016-05-02 19:01] bmichotte commented on #393
@andresluuk Several points :

1. ~/Library/Application Support/HSTracker is the base directory of HSTracker. Inside this folder, you should find a folder "cards" with the downloaded cards images (the slow stuff should be resolved with the next release) and "decks" with a decks.json file (which contains your decks). I let the opportunity to change this folder to move your decks inside, let's say yo

[2016-05-02 19:04] bmichotte commented on #398
Closing this one in favor of #366, please check this bug for resolution and comments

[2016-05-02 19:04] #398 closed

[2016-05-02 19:04] bmichotte commented on #395
Closing this one in favor of #366, please check this bug for resolution and comments

[2016-05-02 19:04] #395 closed

[2016-05-02 19:08] bmichotte commented on #366
### Ok, it seems several users find the bug, or at least the workaround, which is close everything, then start in order HSTracker, Battle.net and finally Hearthstone.

Btw, I think I know why is causing the bug. In fact, Hearthstone *never* delete its log files himself, so if you let your Hearthstone goes and goes, the log file will grow untill several Mb. When HSTracker starts, it goes to the lat

[2016-05-02 19:09] bmichotte commented on #400
Closing this one in favor of #366, please check this bug for resolution and comments

[2016-05-02 19:09] #400 closed

[2016-05-02 19:10] bmichotte commented on #399
Duplicate of #380, it's already corrected and will be available in the next release

[2016-05-02 19:10] #399 closed

[2016-05-02 19:27] bmichotte commented on #366
Looks like Hearthstone recreate the log files whenever I delete them...

[2016-05-02 22:16] Pawdan opened #401 "Not tracking and no timer"
Maybe there is something I am missing but suddenly the tracker stopped tracking the cards I draw and there is no timer.

[2016-05-02 22:18] JimmyThePenguin commented on #366
@bmichotte
I've tried every suggestion in every thread that seemed even remotely related.

I've deleted and reinstalled several times- I open in the correct order (but I've tried every combination)
I must be missing something fundamental.

I download the file.
Then I click on the download and give it permission
Then I open the finder to the applications folder
then I drag hstracker from the bottom

[2016-05-02 22:33] #401 closed

[2016-05-03 00:44] jambrose22 opened #402 "Deck display window does not show up"
The deck manager shows up and works fine, but the actual card list does not appear anywhere.

[2016-05-03 01:17] petems commented on #366
Deleting `~/Library/Preferences/Blizzard/Hearthstone/log.config` and then running with `/Applications/HSTracker.app/Contents/MacOS/HSTracker` to see the logs worked for me 👍

[2016-05-03 01:22] JimmyThePenguin commented on #366
ok, really new to Mac here-  how do you delete?

from Finder?
Frome terminal?

[2016-05-03 03:52] ryanitt opened #403 "HSTracker Glitch - Cards do not disappear or show any connection to the game being played"
Once game started, no notification shows up to indicate it started as stated in the preferences. Following the tracker simply states the cards in my deck and does not track it. As it does not make cards that are played disappear on reduce from 2 to 1 copy.

[2016-05-03 03:52] ryanitt opened #404 "HSTracker Glitch - Cards do not disappear or show any connection to the game being played"
Once game started, no notification shows up to indicate it started as stated in the preferences. Following the tracker simply states the cards in my deck and does not track it. As it does not make cards that are played disappear on reduce from 2 to 1 copy.

[2016-05-03 06:07] bmichotte commented on #366
@JimmyThePenguin you can open a Finder, type cmd-shift-G then type `~/Library/Preferences/Blizzard/Hearthstone/`. Your Finder will open the right folder

[2016-05-03 11:49] Tebbott commented on #404
Installed today and also having the same issue.  My deck shows up to the right, but when I play, nothing changes - no stats change, no cards highlight, and no times are displayed.  Have I installed incorrectly or something?

[2016-05-03 11:52] bmichotte commented on #403
Duplicate

[2016-05-03 11:52] #403 closed

[2016-05-03 11:53] bmichotte commented on #404
Duplicate of #366, please check this bug to find the workaround before correction in the next release

[2016-05-03 11:53] #404 closed

[2016-05-03 16:37] andresluuk opened #406 "The first game of a run is not tracked in HeartStats"
I have had the following issue with a previouse release and the current one also:
Whan I start Heartstone and HSTracker and make a ranked game then the first game I play does not show up in HeartStats. All the following games do. Maybe there is some log-in issue and the first games data does goes to fast or fails and is not resent?

[2016-05-03 17:45] justpassingby commented on #366
I have tried the workaround and I still don't get any tracking. Is there anything else I can do?
I could use the old versions fine up to 0.13.

[2016-05-03 18:03] gabgl76 commented on #391
Would it be possible to have another workaround? If i create a new deck and use HS Tracker everything works. The only problem is that I cannot import my decks from hearthstats (the button is greyed out in the deck manager) and even if i click on (+Add deck from hearthstats) nothing happens.

everytime i quit HSTracker and come back all my decks are gone and need to recreate them which is quite ann

[2016-05-03 18:48] NicosKaralis commented on #391
Found a way to solve it.

1. Close HSTracker
2. On terminal run `defaults domains` this will list all the config files on your machine.
3. Look for `michotte` or `HSTracker`. in my case I had `be.michotte.HSTracker` and `be.michotte.hstracker`
4. Then remove all of them related to HSTracker with `defaults delete be.michotte.HSTracker` and open again

Just be sure to remove the correct config.

[2016-05-03 19:22] bmichotte commented on #366
For those running issues, could you try
1. close HSTracker and Hearthstone
2. open Finder
3. press ⌘⇧G
4. type `~/Library/Preferences/Blizzard/Hearthstone/`
5. click "GO"
6. delete `log.config`
7. start HSTracker
8. start Hearthstone
9. play !

[2016-05-03 19:35] nicgrayson commented on #366
@bmichotte Thanks much. Worked perfectly.

[2016-05-03 19:55] justpassingby commented on #366
Yep, just tried that and finally got it to work, thanks!.

Nice shiny new interface, too! :)

[2016-05-03 19:59] jmb2700 commented on #391
That does work for me, but I have to do it everytime I open and close HSTracker.  I delete the defaults, it lets me login, and it syncs up all my decks, and I can play. But when I close it and then come back to it later, its the same problem, no decks and Hearth Stats icon is greyed out.

[2016-05-03 20:28] bmichotte commented on #391
Thank you all for your searches, it really helps me to find what's wrong. I'm currently trying to fix #366 then I'll look at this !

[2016-05-03 20:44] jmb2700 commented on #391
Just wanted to say thank you very much for all your hard work on this project.  No rush on fixing it from me, I just wanted to report it to you.  I'm a software engineer, so I know all about tracking down and trying to fix things with code.  If you think of anything you'd like me to try or need anymore info from me to help you track things down, let me know.

[2016-05-03 21:45] JimmyThePenguin commented on #366
Well I appreciate all of your time and patience, but I have no idea what is wrong.

I followed those steps... even deleted hstracker deleted logs and reinstalled... I just can't get it to work  :(

[2016-05-03 22:57] ryanitt commented on #366
I am not able to change the Hearthstone folder location. It is locked for me. How do I access it?

[2016-05-04 00:31] blablablo opened #407 "creating more than 14 decks deletes existing ones"
After I create 14 decks, every additional deck created erases one of the previously existing ones. I'm using a Macbook pro with El Capitan version OS X 10.11.4 (15E65)

[2016-05-04 02:00] gabgl76 commented on #391
@NicosKaralis I tried your steps and it worked fine! Thanks a lot buddy :)

[2016-05-04 09:43] andresluuk commented on #406
Another issue I had with a previous version (Not enought games yet with 16 so I am not sure about the latest release):
After swapping decks with doing a few reset/clears the games started to get reported multiple times to heartstats. Maybe the reporting is done in a parallel thread and the threads multiplied in some situations?
Also what is the differences of reset and clear in the menu? What are

[2016-05-04 13:26] Jamiermusic commented on #366
Still not working. Changed log.config console to true, then tried deleting the config. Neither works.

Process: Started HSTracker and selected the deck I wanted to try it with, then HS from battle.net.

Any more ideas on what's wrong? I've also done the same as Jimmy two posts above.

Thanks in advance. _(10.10.5 rMBP 2015 / HSTracker 0.17 (769))_

[2016-05-04 19:18] bwackv opened #408 "Mulligan Indicators Issues (Secondary Monitor)"
Hello, Love this program.  I play HS on my second monitor and the new mulligan numbers don't move up to the top of my screen and when I scroll over one of them, the card stays up until I go over to the tracker and mouse over another card (which also stays up now).  Attaching screenshot
![screen shot 2016-05-04 at 3 15 43 pm](https://cloud.githubusercontent.com/assets/19194091/15026236/714be13e-120

[2016-05-04 19:22] bmichotte commented on #408
Hi, I'm closing this one, both bugs are already known (see #399 and #363)

[2016-05-04 19:22] #408 closed

[2016-05-05 14:54] #384 closed

[2016-05-05 16:55] Dbz opened #409 "Hover Card background is not transparent"
When mousing over the cards in your deck list or the cards your opponent has played, the hover card is not transparent.

I'm running on a Macbook Pro OSX 10.10.3
HSTracker 0.16 (769)

![hstrackerbug](https://cloud.githubusercontent.com/assets/628429/15050230/467e8eba-12a7-11e6-965a-f8cb8729dcf6.jpg)

[2016-05-05 16:57] Dbz opened #410 "Hover Card does not disappear when mouse over ends"
When mousing over the cards in your deck list or the cards your opponent has played, the hover card is sticks to the screen even though the mouse is not over the card. This is not an issue on start up, but after a few games it stays after being hovered on, so I usually just hover over the card in the top left corner of the screen. There is also a transparency issue in the screen shot, but I report

[2016-05-05 17:15] bmichotte commented on #410
Duplicate of #409

[2016-05-05 17:15] #410 closed

[2016-05-05 17:17] bmichotte commented on #409
Duplicate of #364

[2016-05-05 17:17] #409 closed

[2016-05-05 17:37] Dbz commented on #409
I apologize for not catching that previous issue! If it's okay, there are a couple of other things I'd like to report such as the tracker not working after HS crashes or closes and reopens, or when you make a change on the deck manager for your current deck it could automatically update itself.

[2016-05-05 17:38] Dbz commented on #364
I have the same issue on:

<img width="532" alt="screen shot 2016-05-05 at 10 38 24 am" src="https://cloud.githubusercontent.com/assets/628429/15051453/8937a25e-12ad-11e6-8629-c3eff9ca3520.png">

[2016-05-05 17:59] bmichotte commented on #409
Yeah, feel free to add issue ;)

[2016-05-05 18:15] cohn17 opened #411 "Doesn't save new deck"
I just updated to version 16. I entered one deck successfully, it took me two tries to delete another, and when I tried to add another deck, I hit "save" yet the deck never saved. Any advice?

[2016-05-05 20:36] Cardwontdisappear opened #412 "Highlighted cards won't disappear"
When you hover over a card and then leave it, it will still be highlighted, even if I'm not even on hearthstone anymore, see picture:

Thanks for any help
<img width="770" alt="sea" src="https://cloud.githubusercontent.com/assets/19213501/15056395/4b02a810-1309-11e6-839c-4bf44097bc37.png">

[2016-05-05 20:47] bmichotte commented on #412
Duplicate of #364, will be corrected in The next release

[2016-05-05 20:47] #412 closed

[2016-05-06 13:34] bmichotte commented on #402
duplicate of #366

[2016-05-06 13:34] #402 closed

[2016-05-06 13:35] #366 closed

[2016-05-06 13:35] #375 closed

[2016-05-06 13:35] #378 closed

[2016-05-06 14:27] nicgrayson commented on #388
I just installed the update from today and have been having instance crashes. Let me know what information you might want. Thanks for working so hard on this project.

[2016-05-06 14:32] bmichotte commented on #388
Yep, I have my crash log being crazy, currently trying to correct (reproduce) the issue

[2016-05-06 14:32] bmichotte commented on #388
@nicgrayson Did the previous version was working for you ?

[2016-05-06 14:58] bmichotte commented on #388
@nicgrayson Could you try https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.805 ?

[2016-05-06 15:12] nicgrayson commented on #388
@bmichotte I removed HSTracker via AppCleaner then installed that version. Still have the same error. Here is the log I get when I get a prompt to send to apple: https://gist.github.com/nicgrayson/329e7c4af3978568d24897952e299200

If you want to see what is going on I could do a hangout and screenshare. I'm a programmer but haven't learned much swift yet 😄

[2016-05-06 15:17] bmichotte commented on #388
@nicgrayson could you open hstracker from a terminal and gist the logs ?

[2016-05-06 15:26] nicgrayson commented on #388
@bmichotte how do launch it from terminal aside from `open -a HSTracker`? That doesn't give me any logs.

[2016-05-06 15:26] bmichotte commented on #388
`/path/to/HSTracker.app/Contents/MacOS/HSTracker`

[2016-05-06 15:46] nicgrayson commented on #388
@bmichotte i updated the previous gist: https://gist.github.com/nicgrayson/329e7c4af3978568d24897952e299200#file-terminal-log

[2016-05-06 16:51] bmichotte commented on #388
Could you try this one and get me the log ? It will crash, but hopefully, I will have more info

https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.805.1

[2016-05-06 17:27] erikk00 opened #413 "Show card on tracker hover card never disappearing?"
When I hover over a card a large card pops up which of course is as to be expected/desired.  But when I move off the card the popup never goes away.  It even stays at the forefront if I go to a different program other than HSTracker or Hearthstone.  It's really annoying and means I basically have to either hover over the top card of my tracker or my opponents to leave a card sitting over the least

[2016-05-06 17:43] bmichotte commented on #413
This is a duplicate of #410, it will be corrected in the next release. You can disable this functionality by unchecking `Show card on tracker hover` in the preferences

[2016-05-06 17:43] #413 closed

[2016-05-06 17:48] erikk00 commented on #413
I apologize, I swore I looked through the issues page and didn't see it, but I must be blind.  Thank you for your work on such a great program for mac.

[2016-05-06 18:21] nicgrayson commented on #388
@bmichotte here you go: https://gist.github.com/nicgrayson/329e7c4af3978568d24897952e299200#file-terminal-log2

[2016-05-06 20:35] occurrence commented on #388
It got fixed when I deleted the app and installed it again, thanks.

[2016-05-06 21:09] darkxblazer opened #414 "Turn counters for multiple desktops"
Hi bmichotte,

First time posting, but I wanted to thank you for making such an awesome tracker.

The one issue I've had was using multiple desktops..when I'm exploring on another desktop with hearthstone open on one, the new turn counters show up on the other desktop. Then when I switch back, I get this endless loop of my desktops switching back and forth to try to find the tracker. (if i look cl

[2016-05-07 09:38] bmichotte commented on #388
@nicgrayson I really can not reproduce (tested on 3 mac's). Would it be possible that
1. you install Xcode
2. you install Carthage (https://github.com/Carthage/Carthage)
3. clone HSTracker
4. run `carthage update --platform osx`
5. give me an access to the machine so I can try to find the problem?

[2016-05-07 12:54] dommmydee opened #415 "Deck Tracker works for some games and then it doesn't"
Hi Ben,

I really enjoy using this HSTracker. It's improved my game so much - to a fault. I cannot play without it now.

I am using a Mac (latest update) and the HSTracker works fine for 3-4 matches. And then stops working the next match. What I see is the full deck list - however it doesn't update as the game goes on. It sucks because I usually end up losing. My decks backup directory is just /Ap

[2016-05-07 20:41] ssmith66 commented on #394
Also wondering about this. I  have never used the tracker on any version, but do we need to manually load every card for arena? Would be nice if there was a more in-depth guide for basic questions (I might have missed this, but i did not see it anywhere)

[2016-05-07 20:44] ssmith66 opened #416 "Phantom cards"
I have been seeing a persistent "card display" on HSTrakcer v 0.16

What I mean is that there is always some card displayed, like the kind that appear when you hover over a card on the opponent or user decklist. It seems that after a single game, there is always some card displaying and no way to clear the screen to keep any card from appearing.

It clutters up the screen and would be nice if ther

[2016-05-07 21:40] luneaux commented on #394
The tracker reads the log files and cannot access information that is stored server side.

[2016-05-08 04:34] nicgrayson commented on #388
@bmichotte Strange. I rebooted, uninstalled, and reinstalled from hockey app. It works fine now.

[2016-05-08 08:49] mohasad opened #417 "Deck overlay doesn't show"
Hi,

First of all, an excellent tracker may I say. However it just worked for me the first time I played HS. Second time I tried opening the tracker, the deck overlay doesn't come up. I have tried reinstalling but still. Have removed the decks and tried again. Clicking on use deck button in the manager doesn't do anything.

Somehow the trackers are hidden for me. :(

[2016-05-08 09:41] bmichotte commented on #388
@nicgrayson yep, but you downloaded the previous version (I disabled download for the latest)

[2016-05-08 14:05] #393 closed

[2016-05-08 14:45] wispur opened #418 "crashing on start up since May 08 update"
Removing and installing again did not stop the crashing.

Here is a dump of logs when opening HSTracker in terminal.

[code]

[2016-05-08 15:04] kholbekj commented on #418
+1

[2016-05-08 15:15] bmichotte commented on #418
I'm working on it, update should be available in few minutes

[2016-05-08 15:25] bmichotte commented on #418
Update available, could you please check and report if it's working or not ?

https://rink.hockeyapp.net/apps/2f0021b9bb1842829aa1cfbbd85d3bed

[2016-05-08 15:30] bmichotte commented on #416
Duplicate of #409, it should be resolved in the latest version

[2016-05-08 15:30] #416 closed

[2016-05-08 15:31] bmichotte commented on #388
Closing this one in favor of #418

[2016-05-08 15:31] #388 closed

[2016-05-08 16:00] wolfskaempf commented on #418
@bmichotte For me it seems to still crash. I sent you the log via E-Mail.

[2016-05-08 16:10] bmichotte commented on #418
Could you try this https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.815 and let me know ?

[2016-05-08 16:33] wolfskaempf commented on #418
@bmichotte This version crashes as well. Also tried removing the folder inside of Application Support, but that doesn't change anything. I send you another log via email, do these help you?

[2016-05-08 16:35] bmichotte commented on #418
@wolfskaempf I receive the log by HockeyApp, but yes, the log helps me... Still searching, I can't reproduce the crash on none of my Mac's :/

[2016-05-08 16:44] bmichotte commented on #418
Could you try this https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.815.2 ?

It still should crash, but I added a lot of trace to find _where_ it crash

[2016-05-08 16:48] wolfskaempf commented on #418
@bmichotte I sent you another email with the log. Does HSTracker have any dependencies which I might have different versions installed of?

[2016-05-08 16:51] bmichotte commented on #418
@wolfskaempf Could you restart the beta a second time (for hockey to send its log).
For dependencies, no, everything is packed within HSTracker

[2016-05-08 16:54] wolfskaempf commented on #418
@bmichotte Did that now, hope it arrived!

[2016-05-08 18:25] bmichotte commented on #418
Same thing with https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.815.3 (open it at least twice) ?

[2016-05-08 18:29] wolfskaempf commented on #418
@bmichotte Done. Do you need anything via email or do you get it all via HockeyApp?

[2016-05-09 07:44] bmichotte commented on #418
@wolfskaempf Could you send me your log.config (this file is in /Users/tom/Library/Preferences/Blizzard/Hearthstone/ )

[2016-05-09 08:06] bmichotte commented on #418
Ok, I think I got it (I hope at least). Could you guys try this version and let me know ?
https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.815.4

[2016-05-09 09:30] wolfskaempf commented on #418
@bmichotte This version works for me now. Sending you the log file anyway in case it still helps. Thanks for taking such great care of this!

[2016-05-09 10:12] bmichotte commented on #418
![giphy](https://cloud.githubusercontent.com/assets/235510/15110094/407bb638-15df-11e6-9ddb-3c4c34067008.gif)

[2016-05-09 10:13] #418 closed

[2016-05-09 11:08] wolfskaempf commented on #418
Oh my, an empty line. Glad you found the literally invisible needle in the haystack!
![Nigel in haystack](http://i.imgur.com/KCD7F.gif)

[2016-05-09 12:12] wolfskaempf commented on #417
@mohasad Have you tried opening the settings and checking / unchecking the different tracker display options?

[2016-05-09 14:52] wispur commented on #418
@bmichotte my issues are resolved too, should i close this thread?

[2016-05-09 14:58] bmichotte commented on #418
@wispur it's already closed =)

But happy to hear that your issue is also resolved

[2016-05-09 15:12] Terobero opened #419 "Tracker doesn't track"
Both my card bar and my opponent bar doesn't update when a card is played / a card is drawn.
I downloaded latest version.
This is how it looks:
http://imgur.com/yCiLIdh

[2016-05-09 15:18] mohasad commented on #417
Hi @wolfskaempf . Yes I rummaged through all the option before creating the issue. It did work for me the first time as I mentioned. The next time, the deck didn't update while playing and the third time the trackers disappeared all together. Does this help?

[2016-05-09 15:33] wolfskaempf commented on #417
@mohasad I had a similar Problem, but after I unchecked and rechecked the corresponding boxes, it never happened again.

For the bug with it not tracking, for me it helps if I restart the app while in the game if I notice it's not tracking. It'll usually reread through the logs as it seems and "catch up" with the current game after a second or two.

Disclaimer: This information was obtained by doi

[2016-05-09 15:35] bmichotte commented on #417
@mohasad could you try the following ?

1. Upgrade to the last version
2. Check *auto position trackers*
3. Start Hearthstone
4. Make sure you are not playing in fullscreen

Does this résolve ?

[2016-05-09 19:04] xbjconan commented on #419
Me too. All 0.16 related versions till now (818) solved neither the tracking nor card image download problems for me so I am wondering whether only drag the app from Application fold to the trash can is not enough. Is there a way to completely delete all HStracker related files, including downloaded images and all other files? Then I can reinstall the newest version and see if it works.

[2016-05-09 19:12] bmichotte commented on #419
@xbjconan You can try this
1. Delete HSTracker.app from Applications
2. Open a terminal (Applications -> Utilities -> Terminal)
3. type `rm -rf ~/Library/Application\ Support/HSTracker/` then enter
4. type `defaults delete be.michotte.HSTracker` then enter
5. reinstall

If it's still does not work, could you [paste](http://pastebin.com/) your log file (they are in `~/Library/Logs/HSTracker`)

[2016-05-09 19:45] Terobero commented on #419
2016-05-04.log     http://pastebin.com/3CzyWHWP
2016-05-06.log     http://pastebin.com/QarF6Fdq
2016-05-09.log     http://pastebin.com/F3y7btN5

[2016-05-09 23:09] yurimalheiros commented on #419
does not work for me too, I tried the five steps @bmichotte recommended, but it still not tracking.

@bmichotte which file in hearthstone directory the application needs to read to track the cards?

[2016-05-09 23:12] lisbakke commented on #419
+1 same here. Here's my log https://gist.github.com/lisbakke/ff4f65f90ae56ffdfd67103057c44982

[2016-05-10 07:22] mohasad commented on #417
Hi @bmichotte . Many thanks for looking into this. It worked like a charm! Wonder what the problem was. I won't fiddle with many settings anymore :) Btw, did you remove the opponent played cards from the tracker?

Again, many thanks for looking this quickly into the issue.

[2016-05-10 07:24] mohasad commented on #417
Oh ignore the question. It works :)

[2016-05-10 08:00] TickMan opened #420 "PSA: Has "troubleshooting" left you frustrated? Consider "the nuclear option"!"
So I just downloaded the latest version of **HSTracker**, and decided I'd test it from the perspective of a "first-time user"... and to accurately do so requires removing every trace of my previous usage.

It also occurred to me that my "process" for doing so could potentially be helpful to _someone_, so I may as well document it!  ¯\_(ツ)_/¯

**Disclaimers:**
1. It's arguably "more useful" to just

[2016-05-10 08:09] bmichotte commented on #420
Hi @TickMan, thanks for writing this.
I have add it as the first wiki page ! https://github.com/bmichotte/HSTracker/wiki/remove-hstracker

Is this still slow with the latest version ? I uploaded all the images on a personal server instead of Hearthstats ones

[2016-05-10 08:16] bmichotte commented on #419
@Terobero, @yurimalheiros, @lisbakke

Could you
1. open HSTracker -> Preferences -> Copy the "hearthstone folder" content
2. open finder ⌘⇧G , paste the folder and click "go" (or whatever is the name of the "ok" button)
3. check if you have in this folder a "Logs" subfolder which should contains Power.logs, Net.logs, Asset.logs, Bob.logs, Rachelle.logs, Arena.logs, LoadingScreen.logs.
4. [paste](h

[2016-05-10 10:22] TickMan commented on #420
Cool!  I vow to use my newfound celebrity to promote goodwill, help the downtrodden, and shame Face-Hunters. 😜

![the-tick](https://cloud.githubusercontent.com/assets/7900532/15143378/440bbc92-165e-11e6-83b7-8485b85a0e47.gif)

I remembered you mentioning that, so I was optimistic when the download started... considerably less so after monitoring that damn progress-bar for 40min.

Admittedly, that

[2016-05-10 10:50] TickMan commented on #392
Seems that the reason I couldn't "reproduce" the effect is that it only occurs _once-per-launch_.

It's actually quite consistent:
 1. Launch **HSTracker**.
 2. Open the **Deck Manager** window.
 3. Click on a deck to preview the cards.
 4. Close the **Deck Manager** window.
 5. Re-open the **Deck Manager** window.
 6. Laugh at drunk deck! 😜

-TM

[2016-05-10 11:12] xelnod commented on #392
That's a hilarious bug, and as a developer I wonder how something like this can be even possible? I mean, it is a library problem, right?

[2016-05-10 11:14] yurimalheiros commented on #419
I accessed the /Applications/Hearthstone folder. It has a subfolder called Log, but the subfolder Logs did not have the .logs files. I opened HSTracker, opened Hearthstone, and the .logs files started to be created, including the Power.logs. However, the tracker still did not work.

[2016-05-10 11:32] bmichotte commented on #392
It's hilarious, but I can't reproduce :'(

How do you open/close the deck manager ? mouse / shortcut ?

[2016-05-10 11:50] TickMan commented on #392
That was my exact reaction... literally mind-boggling!

Given that it's apparently a rare, odd, display bug... my (un-informed) impulse would be to blame it on "graphics card drivers", somehow?

Perhaps a "distant relative" of #364?

Both / either...

-TM

[2016-05-10 15:45] xbjconan commented on #419
Tried the suggestion and not working. Here is the Power.logs.
[Power.log.zip](https://github.com/bmichotte/HSTracker/files/257541/Power.log.zip)
@bmichotte

[2016-05-10 16:01] Roxatha commented on #419
Yup, after the update the trackers don't do their thing...i got u my power.log in case u want to check it too.

[Power copia.log.zip](https://github.com/bmichotte/HSTracker/files/257600/Power.copia.log.zip)

[2016-05-10 17:51] bmichotte commented on #419
@Roxatha in the preferences, does the hearthstone language is set to spanish ?

For the rest of us, I'm still looking at your logs

[2016-05-10 17:52] Roxatha commented on #419
Yup, want me to change it to English?

[2016-05-10 17:58] Terobero commented on #419
What you asked us to do, on 1st step, i couldn't find the "heartstone folder" content, i copied the highlighted part
<img width="633" alt="ekran resmi 2016-05-10 20 57 27" src="https://cloud.githubusercontent.com/assets/19193956/15156931/fab9cd24-16f1-11e6-8639-97d40e5a48c7.png">

[2016-05-10 18:01] Roxatha commented on #419
@Terobero the folder is in /applications/hearthstone the 1st directory :) there u will find the Log file and inside the Power.log

[2016-05-10 18:03] Terobero commented on #419
My logs file has nothing except one thing. I don't have the things you counted: Power.logs, Net.logs, Asset.logs, Bob.logs, Rachelle.logs, Arena.logs, LoadingScreen.logs.
<img width="717" alt="ekran resmi 2016-05-10 21 02 58" src="https://cloud.githubusercontent.com/assets/19193956/15157088/b1e146b2-16f2-11e6-9236-a0537891530d.png">

[2016-05-10 18:06] Roxatha commented on #419
@Terobero that's weird....it should be there I have the same 1st directory as u, maybe Following this path u find it...
![captura de pantalla 2016-05-10 a las 19 05 43](https://cloud.githubusercontent.com/assets/17516158/15157169/4edda278-16e2-11e6-8aa4-2e3716abe76f.jpg)

[2016-05-10 18:08] bmichotte commented on #419
Ok, still in Finder, go to ~/Library/Preferences/Blizzard/Hearthstone/ (⌘ shift G) and show me The content of log.config
Then delete this file, restart HSTracker then start Hearthstone, any change ?

[2016-05-10 18:09] Roxatha commented on #419
@bmichotte I changed Language to english (game and HStracker) and it is tracking  (so far 1 game)

[2016-05-10 18:09] Terobero commented on #419
I can't open log.config, it says no app can open it

[2016-05-10 18:13] bmichotte commented on #419
@Roxatha meh ?! what if you change again to spanish ?

@Terobero if you right click the file and choose "open with", you can select TextEdit.app to open the file

[2016-05-10 18:13] Terobero commented on #419
[Power]
LogLevel=1
FilePrinting=true
ConsolePrinting=false
ScreenPrinting=false
[Net]
LogLevel=1
FilePrinting=true
ConsolePrinting=false
ScreenPrinting=false
[Asset]
LogLevel=1
FilePrinting=true
ConsolePrinting=false
ScreenPrinting=false
[Bob]
LogLevel=1
FilePrinting=true
ConsolePrinting=false
ScreenPrinting=false
[Rachelle]
LogLevel=1
FilePrinting=true
ConsolePrinting=false
ScreenPrinting=false
[

[2016-05-10 18:17] Terobero commented on #419
Strangly my trash had power.log and i deleted it, i saw it at the second when i deleted it. I didn't throw it to trash. Strange.

[2016-05-10 18:17] Roxatha commented on #419
@bmichotte ok I change it back to Spanish, (so far it tracks my cards and opponents ones)

[2016-05-10 18:22] bmichotte commented on #419
@Terobero ok, your log.config looks correct. Is your Hearthstone configured in english as your screenshot show ? If yes, could you try to restart HSTracker then Hearthstone, choose a deck and play a game. Then check if you have .log files in the Logs directory.

[2016-05-10 18:33] Terobero commented on #419
I can't paste it in pastebin.com or load the file directly to the comment.
<img width="745" alt="ekran resmi 2016-05-10 21 32 02" src="https://cloud.githubusercontent.com/assets/19193956/15158029/c0a674fc-16f6-11e6-8fbf-69990df655d5.png">
<img width="702" alt="ekran resmi 2016-05-10 21 32 56" src="https://cloud.githubusercontent.com/assets/19193956/15158042/c8503f08-16f6-11e6-943d-20a8b6c3a662.png

[2016-05-10 18:34] bmichotte commented on #419
you can send me to bmichotte at gmail dot com

[2016-05-10 18:49] bmichotte commented on #419
@Terobero that's really strange, your configuration looks correct. Could you try this
1. close HSTracker if it's open
2. open Hearthstone
3. open HSTracker
4. play
5. is there something moving ?
6. Could you paste the latest log from ~/Library/Logs/HSTracker ?

[2016-05-10 18:58] Terobero commented on #419
http://pastebin.com/t7jxzuza

it still didn't move

[2016-05-10 19:00] Terobero commented on #419
im not an expert or something but lines 162-167 seems strange for a warrior class

[2016-05-10 19:06] bmichotte commented on #419
@Terobero those line can occurs when you browse your collection for example, this is not very revelant.
What's strange, is the lack of stuff after the `----- Game Started -----` on line 195.

I'm searching, trying stuff

[2016-05-10 19:57] bmichotte commented on #417
Nice, I close this issue so :)

[2016-05-10 19:57] #417 closed

[2016-05-10 19:58] bmichotte commented on #415
I also have this issue sometimes but I did not yet find why :/

[2016-05-10 20:01] bmichotte commented on #414
Hey, I'm closing this one as this is a duplicate of #313

[2016-05-10 20:01] #414 closed

[2016-05-10 20:03] bmichotte commented on #407
Do you still have the issue with the latest version ?

BTW, now, in the deck directory (check preferences), you have a decks.json.bkp that you can rename to decks.json (with hstracker closed) to retrieve the latest version of your decks

[2016-05-11 01:58] blablablo commented on #407
Thanks for the email. I'm traveling this week but in the next days will check if it works and let you know.

Emiliano

Sent from my handheld device

[2016-05-11 05:13] Terobero commented on #419
I don't know why but as i told yesterday, my power.log went to trash, now i found power.log.zip in my downloads file.

[2016-05-11 09:56] tiramisu99 commented on #415
Having this issue too, quite frustrating since every time this bug happens you need to quit both HSTracker and HS first, then reopen both.

[2016-05-11 10:01] tiramisu99 opened #421 "Discarded card not highlighted"
Checked the "highlight discarded from deck" option, but the discarded card simply appears in another slot instead of being highlighted.

[2016-05-11 13:07] bmichotte commented on #415
When this happens to me, I only restart HSTracker and tracking comes back again

[2016-05-11 18:09] bmichotte opened #422 "Deckmanager crash when deleting deck"
I saw in HockeyApp a lot of crashes when deleting decks. Is someone able to tell me how to reproduce ?

[2016-05-11 18:25] bmichotte commented on #419
@yurimalheiros could you please update your gist with your log ?

[2016-05-11 18:47] yurimalheiros commented on #419
@bmichotte Hi. Is it not showing my power.log? I can see the content of power.log in the link.

[2016-05-11 18:49] bmichotte commented on #419
@yurimalheiros sorry, I mean your HSTracker log.
Just added a wiki page, please check https://github.com/bmichotte/HSTracker/wiki/Tracker-not-tracking

(others also btw)

[2016-05-11 18:55] yurimalheiros commented on #419
@bmichotte no problem. Check the gist, I updated: https://gist.github.com/yurimalheiros/c5573ad07430f4be277aa3202db508fd

Thanks for your support :)

[2016-05-11 19:16] bmichotte commented on #419
@yurimalheiros Looking at your logs, looks like you play in english, can you confirm that `Hearthstone language` is set to english in `HSTracker -> Preferences -> Game`

[2016-05-11 19:21] yurimalheiros commented on #419
@bmichotte yes:

<img width="488" alt="captura de tela 2016-05-11 16 20 50" src="https://cloud.githubusercontent.com/assets/161663/15193466/68b74098-1794-11e6-984f-fecc6f8b215a.png">

[2016-05-11 19:42] Terobero commented on #419
Where was the download link... (im in the removal stage)

[2016-05-11 19:44] bmichotte commented on #419
https://rink.hockeyapp.net/apps/2f0021b9bb1842829aa1cfbbd85d3bed

[2016-05-11 19:55] bmichotte commented on #419
@yurimalheiros could you upload Power.log and latest hstracker.log ? From your logs, there are a (huge) difference between time (in hstracker it's 3pm, in hearthstone 12am), so I'm wondering if there are some time error here (btw, what's your timezone ?)

[2016-05-11 20:26] bmichotte commented on #419
Hey guys, could you try this beta ?

https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.820

[2016-05-11 23:49] blablablo commented on #407
I checked for updates but got a message that 0.16 is already the latest, so
not sure if you cahnged anything.

However, looks like now I can add more decks (I went up to 16) and it has
not deleted any one yet).

On Tue, May 10, 2016 at 9:58 PM, Emiliano Nesti <emiliano.nesti@gmail.com>
wrote:

--
Emiliano

[2016-05-12 08:38] ndit-dev commented on #419
The beta works @bmichotte

[2016-05-12 08:40] bmichotte commented on #419
@ndit-dev I guess HSTracker was not tracking for you before this beta ?

[2016-05-12 09:21] ndit-dev commented on #419
@bmichotte nope, tested it for the first time this morning, and checked this thread when it didn't work. Your beta above does indeed track as it should though.

[2016-05-12 12:56] offscientist opened #424 "Notifications Not Working"
Running Version .16 (818).  The notifications are not notifying of a player's turn start, game start, or opponent concede.

Thanks For all the hard work!

[2016-05-12 15:40] simtsang commented on #419
After updated to the latest version, when I tick the Auto Position Tracker in the preferences setting, the tracker is gone and never appear again. I did try tick and untick different box, but the tracker just didn't appear.

I went to the deck manager and try to create new deck to solve the problem, how ever same as before, no respond for press the "Use" button in deck manager.

I try to uninstall

[2016-05-12 15:45] bmichotte commented on #419
@simtsang could you try with Hearthsone and HSTracker open (and "auto position tracker" checked) to "alt-tab" to another app (Chrome, Safari, ... ) and alt-tab again to Hearthstone, this should force HSTracker to move / resize its trackers

[2016-05-12 15:50] joshhaines commented on #391
I've tried all of these steps, but nothing seems to work for me. I'm on the latest HSTracker version. The HearthStats button is grayed out, and it won't allow me to login even after performing the steps by @NicosKaralis. I've done a fresh install by deleting all related folders and uninstalling/reinstalling.

I was able to log in a few days ago. It downloaded my decks from HearthStats, but it woul

[2016-05-12 16:18] erikk00 commented on #415
I am having this issue also.  Restarting also fixes tracking for me; but it leaves me with the start of a match not recorded properly.  Maybe a good workaround would be to have some way to manually tell HSTracker what was played if it starts up mid-match? A quick popup with your cards and you click on the mulligans and who had the coin?

[2016-05-12 16:24] bmichotte commented on #415
@erikk00 I did not have the time to check this, but it's maybe related to #419 (date problem). Could you try this beta https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.820 and check if that correct the issue ?

[2016-05-12 16:29] erikk00 opened #429 "Tavern Brawl decks unable to be created with more than 2 of a card"
So this week's tavern brawl made me think of this, not because I really needed to track my or my opponent's deck, but because I tried to make a deck just to see if I could, because I was curious of the odds of my having gotten Power of the Wild literally 8 times in a row.  Anyway thought it might be cool to add the checkmark for a new deck for Tavern deck and then allow you to select any number of

[2016-05-12 16:32] bmichotte commented on #429
As a workaround, you can check "arena deck" and it will allow you to pick up to 30 x 1 card ;)

[2016-05-12 16:35] erikk00 commented on #415
Downloaded and will test now.  If that popup idea isn't that hard to do (I have NO CONCEPT of difficulty there) might be a good addition for the times when you forget to start HSTracker before you load up a game.

[2016-05-12 16:36] erikk00 commented on #429
Oh, cool.  Well that basically just solves the problem right there.  Thanks.

[2016-05-12 16:37] bmichotte commented on #415
In fact by default, HSTracker try to find the start of your game and "replay" it. With the timezone error, it looks like it don't find the start of the game... Hopefully, this beta should correct both

[2016-05-12 17:50] erikk00 commented on #415
Well it hasn't stopped tracking yet after like 6 games.  So no news is good news so far

[2016-05-12 18:08] bmichotte commented on #415
@erikk00 what's your timezone ?

[2016-05-12 18:58] bmichotte commented on #419
@Terobero @yurimalheiros Did you had the time to test the beta I posted few comments above?

[2016-05-12 19:24] Terobero commented on #419
Sorry, I can't try it now.

[2016-05-12 20:21] yurimalheiros commented on #419
@bmichotte I just tested the beta and it works!

[2016-05-12 20:25] erikk00 commented on #415
EST.  - 5 from GMT

[2016-05-12 20:29] bmichotte commented on #419
Awesome !

[2016-05-12 20:30] bmichotte commented on #415
Nice, so it works on UTC minus and plus... Looks like we are good !

[2016-05-12 20:48] yurimalheiros commented on #419
thanks @bmichotte

[2016-05-12 23:21] carlosbrando opened #430 "Is it the secret helper working?"
It's not working for me... Even disabling and enabling again at the configurations. Is it a problem here or it not working at all?

[2016-05-13 04:17] erikk00 commented on #415
FYI it happened again.  Froze up.  I restarted HSTracker and it caught up a lot but I'm not sure caught up on everything.  I was just screwing around on casual and not really paying attention so I was on like turn 6 or something; would have been surprised if it was able to catch back up all the way to that.

[2016-05-13 04:23] TickMan commented on #430
In my experience, both the **Secret Helper** and the **Opponent-Hand HUD** are a bit "temperamental"... they _usually_ show, but not always.

My reaction when they're missing borders-on "superstition", but it seems to work for me:
 1. Finish the match.
 2. "Back" out to main **Hearthstone** menu.
 3. Quit **HSTracker**.
 4. Re-launch **HSTracker**.
 5. Stare at my **CPU Monitor** while waiting for

[2016-05-13 15:00] carlosbrando commented on #430
I can say that I never have seen the secret helper... There is an option for that, but never shown for me.

[2016-05-13 17:08] simtsang commented on #419
Thanks @bmichotte tacker appear again when I press alt+tab. One more questions, where I setup the Hearthstats account in the apps?

[2016-05-13 17:18] bmichotte commented on #419
@simtsang deck manager -> icon hearthstats

[2016-05-13 19:39] simtsang commented on #419
@bmichotte Hearthstats icon dim all the time while Twitter and Donate icon is working, any hints?

[2016-05-13 21:14] Terobero commented on #419
beta didn't work

[2016-05-16 04:46] simtsang commented on #419
@bmichotte  Beside, I found the game data upload to Hearthstats is incorrect, for example, I am at rank 11 now, but it will show I am rank 18 in heathstats, I don't have this problem When I use the tracker in PC version,

![image](https://cloud.githubusercontent.com/assets/18664237/15280505/b2431912-1b63-11e6-981a-d090ef3db7fc.png)

[2016-05-16 07:33] Endy13 commented on #430
In my experience, I've only noticed the secret helper during arena games and not in constructed. I'll keep track of that.

[2016-05-16 15:48] Dikvega commented on #396
I am having this issue also.  I opened deck tracker today for the first time in a few days and all of my decks were gone, save for 5 that I created last week sometime.

[2016-05-17 04:25] Dexette commented on #419
Beta does not work for me either.   I have installed, uninstalled, about 6 times... Including BattleNet & Hearthstone, then installed the tracker - with no luck whatsoever.  Additionally, I had issues with the decks not saving when I logged back into the tracker and finally at the last, it would not let me save a deck at all nor could I log into HearthTracker.

I finally uninstalled everything and

[2016-05-17 05:09] Terobero commented on #419
I'm running El Capitan too.

[2016-05-17 19:06] cmario92 commented on #293
Hello there,
You are doing a great join man, and everyone else testing.

I was wondering if anyone mentioned that the background for both the current player's and the opponent's tracker should be set to UIColor.clearColor() instead of black with alpha of 0.4 or so.

No need to show the window size/borders to this one.

Looking forward to your opinions.

[2016-05-17 20:10] bmichotte commented on #293
@cmario92 correct me if I'm wrong but clearColor is black with alpha at 0 and there's a settings to change this opacity, which is the reason of this

[2016-05-17 20:33] cmario92 commented on #293
It is indeed.
I am sorry I didn't know that was an option given to the user under the HSTracker preferences.

I am not sure why this should be a choice given to the user to decide if he/she wants a background added to the HSTracker windows.

The reason I am saying that, is by scraping the UISlider under the tracker's preferences would decrease the number of items listed in the preferences, making

[2016-05-17 23:13] ndit-dev opened #431 "win rate bug"
On one of my decks I have 13 wins and 14 losses, but it displays 0% win rate
<img width="233" alt="skarmavbild 2016-05-18 kl 01 13 13" src="https://cloud.githubusercontent.com/assets/8581030/15342470/b6588004-1c95-11e6-99e3-8b5e16b2110b.png">

Should be ~48% ?

[2016-05-18 08:08] TickMan commented on #293
The option to add a "background" can be particularly useful when positioning trackers "off-window" (to obscure Desktop clutter), although I concede that it's probably not a "common" choice.

I certainly wouldn't resent its removal... but it seems like a small price to pay for those who may.

¯\\\_(ツ)_/¯

-TM

[2016-05-18 08:15] cmario92 commented on #293
Great point I totally agree with you.

The reason I am making this such a big deal, is because the tracker's preferences contains so many checkboxes/sliders/dropdowns that is making it it hard for the user to make it full use.

@TickMan gave a fair point here, I would not scrap that out

[2016-05-18 09:49] TickMan commented on #293
I concur, wholeheartedly... but I don't think that "slashing features" is the solution.

Each **_individual_** preference is objectively useful, and extremely simple... the frustration comes when users have to read through a dozen of them just attempting to find whatever it is they may want to tweak.

I suspect that the solution lies in overhauling the entire **Preferences** layout... more-refined

[2016-05-18 09:52] bmichotte commented on #293
@TickMan @cmario92 yeah, definitely please do =)
I you come with a good refactoring of "categories of preferences", I'll change it with pleasure =D

[2016-05-18 10:26] Joseki75 commented on #396
Impossible to keep a newly created deck
something is not right with the deck creation : every decks I create with "Using HStracker deck builder" is writing itself in decks.json BUT after quit and relaunch it is not showing.
The following pastebin decks.json contains one deck imported from hearthstats that is showing
and 2 one card decks created with builder that are not showing
http://pastebin.com

[2016-05-18 15:05] hagehun commented on #278
I just wanted to ask some questions:
- Do you need any more testing now or in the future?
- I was thinking about a mulligan helper, like you could highlight some cards beforehand and the pop up for the time of the mulligan to keep those in hand and what to look for.

[2016-05-18 17:03] TickMan commented on #278
I don't want to sound like I'm speaking on [Benjamin's](https://github.com/bmichotte) behalf... but since this **Issue** has been closed for almost a month, I'll take a stab at it. 😜

**HSTracker** _always_ needs "testing"... don't assume that just because a new version is "released", it doesn't still have bugs (Benjamin's amazing, but he's still _human_).  As for pre-release beta-testing _specifi

[2016-05-18 17:12] bmichotte commented on #278
Nothing more to say here, @tickman has pretty well explained everything ;)

[2016-05-18 20:49] mattwelborn commented on #431
I can confirm this bug: my decks all have a win rate of 0% or 100%.

[2016-05-18 21:21] Drudoo commented on #407
I had 30 decks today and my first deck got deleted and removed from hearthstats. Kinda sad when stats from 150+ matches got deleted.

[2016-05-19 06:11] bmichotte commented on #431
closed by https://github.com/bmichotte/HSTracker/commit/361f7337cf6f43a3638636606771d1a0b7a0ef3c

[2016-05-19 06:11] #431 closed

[2016-05-20 12:44] blablablo commented on #407
It did it once again. I created a 19th deck for Arena and HSTracker deleted
my Standard Druid deck.

On Wed, May 18, 2016 at 5:21 PM, Frederik Vanggaard <
notifications@github.com> wrote:

--
Emiliano

[2016-05-20 13:18] Drudoo commented on #407
Actually i found out that i wasn’t HSTracker that deleted my deck. It got archived in Hearthstats because it hadn't been used in 2 weeks and that’s why it disappeared from HSTracker. I can still see it under archived decks online but i cannot get it back to HSTracker

[2016-05-20 13:35] blablablo commented on #407
In my case it is definitely HSTracker that's deleting the decks. The Druid
one that got deleted was one of the most recent ones that I created a few
days ago.

On Fri, May 20, 2016 at 9:18 AM, Frederik Vanggaard <
notifications@github.com> wrote:

--
Emiliano

[2016-05-20 15:56] TylerBrinks opened #434 "Possible full uninstall/reinstall?"
Since one of the recent updates (I'm unsure of which revision specifically), the HSTracker no longer shows me cards my opponent has played, and only rarely records games to HearthStats.  Is there a way to fully uninstall and reinstall it including all the hidden files like the SQLite database?

It would also help to be able to enter new HearthStats credentials.  Once connected, the HearthStats but

[2016-05-20 17:41] TickMan commented on #434
...funny you should ask... 😜

#420

-TM

[2016-05-21 17:48] krisfields opened #435 "How to save deck that is automatically populated while playing?"
I start an arena match, and the player tracker automatically shows whatever cards I draw (very cool).  When I start another arena match with the same deck, it clears the existing deck though.  How do I save the deck so that it will remember the cards that it already saw?

Thanks!

[2016-05-21 18:51] bmichotte commented on #435
This is not yet implemented... I'll add this on my (very long) todo-list

[2016-05-21 20:27] bmichotte commented on #419
Let's try this new beta https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.843

[2016-05-21 20:28] bmichotte commented on #419
@simtsang could you please open a new issue for the incorrect rank ?

[2016-05-21 20:54] Terobero commented on #419
Tried new beta, didn't work. Just to be clear, I'm not opening in wrong order, right? First Hstracker then hearthstone.

[2016-05-22 01:17] mattwelborn opened #436 "HSTracker crash during game"
HSTracker has repeatedly crashed during matches. The crash occurs on line 151 of LogReader.swift:

`let cutted = line.substringFromIndex(line.startIndex.advancedBy(19))`

with the error

`Thread 33: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`

The console output is in [this pastebin](http://pastebin.com/wVSTUB91). (I couldn't get it to format nicely in Markdown.)

[2016-05-22 08:47] bmichotte commented on #436
Should be corrected by this new beta build : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.844

[2016-05-22 08:50] bmichotte commented on #419
new beta build : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.844

@Terobero You can start in no special order, if HSTracker needs you to restart Hearthstone, an alert is displayed.

[2016-05-22 10:04] Terobero commented on #419
New one didn't work either.

[2016-05-22 12:09] darkxblazer opened #437 "Tracker covers rank"
Is it possible to have the auto-position trackers to not cover the rank of your opponent?

[2016-05-22 17:20] Corwin74 commented on #419
El Capitan, didn't work too.  Track one game and freeze.

[2016-05-22 17:21] Terobero commented on #419
@Corwin74 at least it worked at you once, it never worked at me.

[2016-05-22 18:57] Corwin74 commented on #419
I have changed regional settings in tracker and hearthstone from Russian to English and it works!

[2016-05-22 19:18] bmichotte commented on #419
@Corwin74 could you try to change them back to russian and check if hstracker still tracks ?

[2016-05-22 19:50] blablablo commented on #407
today it deleted another deck. Bug is definitely still there.

On Fri, May 20, 2016 at 9:35 AM, Emiliano Nesti <emiliano.nesti@gmail.com>
wrote:

--
Emiliano

[2016-05-22 19:58] Corwin74 commented on #419
https://github.com/bmichotte I have changed settings back to Russian and tracker didn't work now.

[2016-05-22 20:20] bmichotte commented on #419
:/ @Corwin74 I'll install russian HS and try this

[2016-05-22 20:38] Terobero commented on #419
Mine is English......

[2016-05-23 03:03] mattwelborn commented on #436
Seems to be fixed. I played 18 games without issue.

[2016-05-23 03:03] #436 closed

[2016-05-23 03:07] mattwelborn commented on #437
This is related to #383. There, a workaround was suggested: manually position the trackers. However, I think it would definitely be better to just have the trackers correctly auto-positioned.

There might be some considerations related to long decks on short screens, though.

[2016-05-23 03:18] mattwelborn opened #438 "Deck record does not update until deck is reselected"
In the deck manager, the deck record does not update until a different deck is selected, and then the deck of interest is re-selected.

I think the only place where this string is ever updated is lines 146-147 of DeckManager. Perhaps it's possible to also update the string at the end of games?

[2016-05-23 06:29] Corwin74 commented on #419
@Terobero Maybe try change Mac OS settings to English too?

[2016-05-23 06:56] Dexette commented on #419
After a few tries, I was able to get the most recent beta version (linked above) to work.

NOTE:  Everything I did is probably unnecessary, but I put the entire process I went through just in case.  This is what I did:

1.  I made sure that every trace of previous installs/files of HSTracker were completely removed from my computer.  I went through library/applicationsupport one folder at a time j

[2016-05-23 08:37] Terobero commented on #419
@Corwin74 where can i change that?

[2016-05-23 08:39] Dexette commented on #419
Ok, I should have waited before making my last post, because the tracker isn't "quite" working.

It tracks the FIRST game perfectly.  However, after that I am having a few problems.

- Sometimes the app 'hangs' and stops responding
- I have to restart the app in order to get it working again
- The log file is recording player 1 turn, player 2 turn, etc. but not the cards played.

|V|04:10:53.533|

[2016-05-23 08:40] Dexette commented on #419
@Terobero
System Preferences --> Language & Region

[2016-05-23 11:02] Terobero commented on #419
Changed language, opened game, didnt work
then deleted tracker, downloaded it again, tried, didnt work

[2016-05-23 11:10] Dexette commented on #419
@Terobero
Did you try deleting log file?

[2016-05-23 11:20] Dexette commented on #419
@bmichotte
Just a quick update on my progress with the app hanging/not working correctly.

Since my previous post, I deleted the log file again and have not had any problems except for the tracker not recording one match to HearthStats after my opponent conceded at the very end of the game while I was in the process of making the lethal shot.  I had other opponents concede with no problems and I c

[2016-05-23 18:47] bmichotte commented on #419
@Terobero Could you drop me an email at bmichotte at gmail dot com, I'll try to help you and it will be easier per email.

[2016-05-23 18:51] bmichotte commented on #419
Guys, could you try this build ? I rewrote a lot of stuff in the log parsing : https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.847

[2016-05-24 07:43] cmario92 commented on #419
Hello @bmichotte ,
Is this the latest version of HSTracker so far? Because the date released confuses me

[2016-05-24 07:47] bmichotte commented on #419
@cmario92 yes, looks like github has some issue with dates, all beta are from march 31 https://github.com/bmichotte/HSTracker-Beta/releases

[2016-05-24 07:51] cmario92 commented on #419
@bmichotte, I was using [this one](https://rink.hockeyapp.net/apps/2f0021b9bb1842829aa1cfbbd85d3bed) for so long now, having almost no issues (with tracking).
Will download tonight and post my comments.
Thanks for clarifying

[2016-05-24 08:27] Corwin74 commented on #419
@bmichotte I've played several games with new build (847) and it works now! Regional settings is Russian in tracker and Hearthstone. Thank you!

[2016-05-24 16:14] Terobero commented on #419
@bmichotte latest beta worked omg! (0.16.847) Thanks alot. You can close this thread.

[2016-05-24 17:20] bmichotte commented on #419
![Celebrate](http://i.giphy.com/itDBteCsTFSVO.gif)

[2016-05-24 17:32] xbjconan commented on #419
The 847 version works!!!!!!!! Thanks a million! It feels great to have the tracker back on!

[2016-05-24 21:28] cmario92 opened #439 "C'Thun Tracker not counting properly"
Hello there,
Just noticed that the counter at the bottom that counts the number of attack/health of your C' Thun is not counting properly.

1) The counter starts from 6/6 which is correct.
2) If I add a minion that adds 2/2 to C'Thun, then the C'Thun goes up to 10/10. The counter though, still shows 8/8.
3) If I then add another minion which is 2/2, C'Thun goes to 12/12 and then counter shows the

[2016-05-25 05:19] patrissimo commented on #391
Hey all, similar problem. I had never used the HearthStats feature before. In the deck manager I clicked "Hearthstats", entered my account, and I think it flashed up a logging in window. But the decks do not appear on Hearthstats, nor do match results. The Hearthstats button is greyed out in the deck manager. I tried the "defaults delete be.michotte.hstracker" workaround, but nothing changed.

I a

[2016-05-25 05:46] patrissimo commented on #391
I found the logs, and didn't see anything in the logs about hearthstats or connecting to it. There was this one line at the end of a match:

`|I|22:38:55.794| will save to Patrissimo(Anduin Wrynn) vs Bradicus(Thrall) 2016-05-25 05:38:55`

Can I turn on verbose logging? Or should I add log statements & build from code?

[2016-05-25 05:47] ausgop commented on #439
I've noticed this as well, just stopped playing C'Thun decks before I could remember to report.  In my experience any event that causes a visual refresh of the tracker will catch up the stats.

- Wil

[2016-05-25 15:57] TylerBrinks commented on #434
I followed those instructions to the letter but after reinstalling, the tracker still had my HearthStats credentials stored somewhere.  It still only send the results to HearthStats about every 3rd or 4th game.  And only on the first match after startup does it show the opponent's played cards.  Something is clearly off, and I'm assuming it's not happening for everyone, just my install.

[2016-05-25 16:11] sebastientromp opened #440 "Record game logs"
Hey,

I'm the main dev at Zero to Heroes (http://www.zerotoheroes.com/s/hearthstone) and regularly have people come to me to ask what software they could use to record their games to upload on the site.
ArenaTracker does this, but mainly people already use HSTracker, and would love to have this integrated somehow in the tool.

Basically, they need to have the Power.log that corresponds to a single

[2016-05-25 16:13] sebastientromp commented on #440
Duplicate of #208

[2016-05-25 16:13] #440 closed

[2016-05-25 16:17] JonasNeu96 commented on #208
+1

[2016-05-25 16:18] JonasNeu96 commented on #440
+1

[2016-05-25 16:59] mattwelborn opened #441 "Wrong rank recorded"
Opponents are logged as being at rank 20, seemingly at random. Rank 0 is also logged periodically. I thought "0" might be the representation of Legend, but neither I nor my opponents have been Legend rank.

An example series of games from decks.json:

[2016-05-26 00:09] mattwelborn commented on #438
I think that I have a fix for this issue. However, I'm not confident in my Swift so I've included it as patch rather than a pull request.

http://pastebin.com/raw/NV6YZ1zb

[2016-05-26 02:38] simtsang opened #442 "Incorrect Rank at Hearthstats"
I found the game data upload to Hearthstats is incorrect, for example, I am at rank 11 now, but it will show I am rank 18 in heathstats, I don't have this problem When I use the tracker in PC version, Any Advise

![image](https://cloud.githubusercontent.com/assets/18664237/15562000/d5defe78-232d-11e6-857e-1302a7292abe.png)

[2016-05-26 03:50] mattwelborn commented on #442
Looking through the logs, it appears that often two ranks are detected: one which is correct and one which is a red herring. I think the tracker is picking which of these ranks to record chronologically.

If we can't find a better way to determine the correct one, perhaps we should choose the rank closer to the rank from the previous game, assuming that the season has not since reset.

[2016-05-26 05:44] bmichotte commented on #442
@mattwelborn you are right, the ranks are often detected multiple times. The problem with your solution is to detect the correct one when you detect rank. If you detect rank 20 and decide it's the right one, the detect rank 7, rank 20 will be kept, even if you are rank 7

[2016-05-26 05:45] bmichotte commented on #441
Closing in favor of #442

[2016-05-26 05:45] #441 closed

[2016-05-26 05:46] bmichotte commented on #438
@mattwelborn the patch seems good, except there's nothing witch send the `reload_decks` notification. Did you forget something in Game.swift ?

[2016-05-26 05:48] bmichotte commented on #430
I have to check this, I have the same issue, I see the secret helper for time to time... but secrets are now often played this days

[2016-05-26 13:05] mattwelborn commented on #442
I've noticed that the current solution is right more often than wrong. Maybe we can compare to the mean of the past 10 games?

For me, it's the same wrong rank (20 or 0) every time. That could also help pick the correct rank, if this observation hold true for other people.

[2016-05-26 15:04] mattwelborn commented on #438
I tried to use a `reload_decks` message that was already being sent at the
end of games. `handleEndGame()` calls `Decks.instance.update()` which calls
`save()` which posts `reload_decks`. I figured this was the natural way to
go about it since `reload_decks` gets posted any time a deck is updated,
which is when the label should be updated.

On Thu, May 26, 2016 at 1:46 AM, Benjamin Michotte <notif

[2016-05-26 15:34] bmichotte commented on #438
Oops, yes, my bad, I did not remember this ;)

Manually merged ;)

[2016-05-26 15:53] mattwelborn commented on #438
Thanks!

[2016-05-26 15:53] #438 closed

[2016-05-26 19:18] bmichotte commented on #439
Yep, actually, C'Thun attack/health is refreshed after you (or your opponent) play another card. Will look at it

[2016-05-26 19:21] #429 closed

[2016-05-26 19:24] bmichotte commented on #434
@TylerBrinks Could you try the beta from https://github.com/bmichotte/HSTracker-Beta/releases/tag/0.16.847 ? If you click again on the Hearthstats icon, you'll be able to disconnect/reconnect from Hearthstats.

Your problem with Hearthstats, is also (maybe) related to #442

[2016-05-26 19:34] cmario92 commented on #434
is it a new one we all should download? can't tell with github date bug

[2016-05-26 19:42] straccio commented on #58
+1000

[2016-05-26 19:46] bmichotte commented on #58
It's planned guys, it's planned :)

I prefer working on stability first then I'll add more features :)

[2016-05-26 19:46] bmichotte commented on #434
nope, still the same @cmario92

[2016-05-27 05:58] ausgop opened #444 "decks.json getting corrupted."
I noticed that several of my decks were no longer appearing in the tracker so I took a look at the decks.json and decks.json.bkp

What I found was that the card could for the missing decks were off.  In some cases doubling each card count and in at least one instance missing a card.

I have attached the offending json for inspection.

[decks.json.txt](https://github.com/bmichotte/HSTracker/files/2

[2016-05-27 19:05] nyybatboy commented on #394
Still unable to get HSTracker to auto-populate arena decks as they are drafted.  What is the intended way to use this program with arena decks?

[2016-05-27 19:15] mattwelborn commented on #394
I think the "arena deck" checkbox just removes the 2-of-a-card-per-deck
constraint.

On Fri, May 27, 2016 at 2:05 PM, nyybatboy <notifications@github.com> wrote:

[2016-05-27 19:18] nyybatboy commented on #394
I don't have that checkbox.  Regardless, I have two issues with arena.  (1) The deck does not auto-populate (2) the decklist resets between each game.  I cannot fix either of these issues by restarting.

[2016-05-28 07:44] bmichotte commented on #437
Yep, duplicate of #383, closing this one

[2016-05-28 07:44] #437 closed

[2016-05-28 11:05] #430 closed

[2016-05-28 12:39] cmario92 commented on #430
you can add me on HS once you want to test the secrets @bmichotte.
message me on gitter

[2016-05-28 15:17] chrischtili opened #445 "Crashes..."
...the new version crashes after adding or editing a new deck.

`ChristiansiMac7:~ christian$ /Applications/HSTracker.app/Contents/MacOS/HSTracker
|I|17:16:22.789| *** Starting HSTracker 0.16.900 ***
|V|17:16:22.811| json file : /Applications/HSTracker.app/Contents/Resources/Resources/Cards/cardsDB.enUS.json
|I|17:16:22.928| Loading decks
|V|17:16:22.928| json file : /Users/christian/Library/Appli

[2016-05-28 15:26] mattwelborn commented on #445
I think that I caused this bug with my resolution to issue #438. Unfortunately, I'm not completely sure why it's crashing, so please help @bmichotte!

Some additional info:
The console prints `fatal error: unexpectedly found nil while unwrapping an Optional value`

[2016-05-28 15:30] bmichotte commented on #445
I think I got it, trying to correct right now

[2016-05-28 15:36] #445 closed

[2016-05-28 18:29] imaks4 opened #446 "Editing fonts"
Hi, how can I change the font of cards' titles? (OS X)
I found out that it's missing cyrillic letters in main font (1553.ttf) and the are automatically change on basic system font (looks like _Iowan_ or _Georgia_, don't know exactly). It's really bad-looking and annoying. Hearthstone uses font _Benguiat_ for russian. I have tried changing them, but HSTracker couldn't recognize the font.
So... Any

[2016-05-28 18:56] bmichotte commented on #446
Hey, could you join a screenshot of the problem ?

[2016-05-29 02:13] nsknyc commented on #444
I'm having the same issue. I can add all the decks I wish on a fresh json file. Upon reboot only half or less appear. I've been going through the file and seeing if maybe it has something to do with hearthstats updates or just a bug in the code. Any input would be nice.